<!-- Ecommerce Item -->
<div class="item-img text-center">
    <a [routerLink]="'/apps/e-commerce/details/' + product.id">
        <img [src]="product.image" alt="img-placeholder" class="img-fluid card-img-top"/>
    </a>
</div>
<div class="card-body">
    <div class="item-wrapper">
        <div class="item-rating">
            <div class="rating rating-sm">
                <ngb-rating [max]="5" [rate]="product.rating" [readonly]="true" class="outline-none">
                    <ng-template let-fill="fill" let-index="index"
                    ><span [class.fa-star]="fill === 100" class="fa fa-star-o mr-25"></span
                    ></ng-template>
                </ngb-rating>
            </div>
        </div>
        <div class="item-cost">
            <h6 class="item-price">${{ product.price }}</h6>
        </div>
    </div>
    <h6 class="item-name">
        <a [routerLink]="'/apps/e-commerce/details/' + product.id" class="text-body"> {{ product.name }}</a>
        <span class="card-text item-company"
        >By <a class="company-name" href="javascript:void(0)">{{ product.brand }}</a></span
        >
    </h6>
    <p class="card-text item-description">
        {{ product.description }}
    </p>
</div>
<div class="item-options text-center">
    <div class="item-wrapper">
        <div class="item-cost">
            <h4 class="item-price">${{ product.price }}</h4>
            <p *ngIf="product.hasFreeShipping" class="card-text shipping">
                <span class="badge badge-pill badge-light-success">Free Shipping</span>
            </p>
        </div>
    </div>
    <a
            (click)="toggleWishlist(product)"
            *ngIf="isWishlistOpen === true"
            class="btn btn-light btn-wishlist"
            href="javascript:void(0)"
            rippleEffect
    >
        <i data-feather="x"></i>
        <span>Remove</span>
    </a>
    <a
            (click)="toggleWishlist(product)"
            *ngIf="isWishlistOpen !== true"
            class="btn btn-light btn-wishlist"
            href="javascript:void(0)"
            rippleEffect
    >
        <i [ngClass]="product.isInWishlist === true ? 'fa-heart text-danger' : 'fa-heart-o'" class="fa mr-25"></i>
        <span>Wishlist</span>
    </a>
    <a
            (click)="addToCart(product)"
            *ngIf="product.isInCart !== true"
            class="btn btn-primary btn-cart"
            href="javascript:void(0)"
            rippleEffect
    >
        <i class="mr-25" data-feather="shopping-cart"></i>
        <span class="add-to-cart">Add to cart</span>
    </a>
    <a
            *ngIf="product.isInCart === true"
            class="btn btn-primary btn-cart"
            rippleEffect
            routerLink="/apps/e-commerce/checkout"
    >
        <i class="mr-25" data-feather="shopping-cart"></i>
        <span class="add-to-cart">View in cart</span>
    </a>
</div>
<!--/ Ecommerce Item -->
