<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Basic Badges Start -->
        <section id="basic-badges">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBadge">
                        <h4 class="card-title">Contextual Badges</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                Use the <code>.badge</code> class, followed by<code>.badge-&#123;color&#125;</code>class
                                within element
                                to create primary badge.
                            </p>
                            <div class="demo-inline-spacing">
                                <div class="badge badge-primary">Primary</div>
                                <div class="badge badge-secondary">Secondary</div>
                                <div class="badge badge-success">Success</div>
                                <div class="badge badge-danger">Danger</div>
                                <div class="badge badge-warning">Warning</div>
                                <div class="badge badge-info">Info</div>
                                <div class="badge badge-dark">Dark</div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Basic Badges End -->

        <!-- Badge Glow Starts -->
        <section id="glow-badges">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeGlowBadge">
                        <h4 class="card-title">Glow Badges</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">Use class <code>.badge-glow</code> to add glow effect to
                                contextual badge.</p>
                            <div class="demo-inline-spacing">
                                <div class="badge badge-glow badge-primary">Primary</div>
                                <div class="badge badge-glow badge-secondary">Secondary</div>
                                <div class="badge badge-glow badge-success">Success</div>
                                <div class="badge badge-glow badge-danger">Danger</div>
                                <div class="badge badge-glow badge-warning">Warning</div>
                                <div class="badge badge-glow badge-info">Info</div>
                                <div class="badge badge-glow badge-dark">Dark</div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Badge Glow Starts -->

        <!-- Badge light Starts -->
        <section id="badge-light">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeLightBadge">
                        <h4 class="card-title">Light Badges</h4>
                        <div class="card-body">
                            <p class="card-text mb-0">
                                Use class <code>.badge</code> class with <code>.badge-light-&#123;color&#125;</code> to
                                add light effect
                                to your badge.
                            </p>
                            <div class="demo-inline-spacing">
                                <div class="badge badge-light-primary">Primary</div>
                                <div class="badge badge-light-secondary">Secondary</div>
                                <div class="badge badge-light-success">Success</div>
                                <div class="badge badge-light-danger">Danger</div>
                                <div class="badge badge-light-warning">Warning</div>
                                <div class="badge badge-light-info">Info</div>
                                <div class="badge badge-light-dark">Dark</div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Badge light Ends -->

        <!-- Badges With Icons Starts -->
        <section id="badges-with-icons">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeWithIcons">
                        <h4 class="card-title">Badges With Icons</h4>
                        <div class="card-body">
                            <div class="demo-inline-spacing">
                                <div class="badge badge-primary">
                                    <i class="mr-25" data-feather="star"></i>
                                    <span>Primary</span>
                                </div>
                                <div class="badge badge-secondary">
                                    <i class="mr-25" data-feather="star"></i>
                                    <span>Secondary</span>
                                </div>
                                <div class="badge badge-success">
                                    <i class="mr-25" data-feather="star"></i>
                                    <span>Success</span>
                                </div>
                                <div class="badge badge-danger">
                                    <i class="mr-25" data-feather="star"></i>
                                    <span>Danger</span>
                                </div>
                                <div class="badge badge-warning">
                                    <i class="mr-25" data-feather="star"></i>
                                    <span>Warning</span>
                                </div>
                                <div class="badge badge-info">
                                    <i class="mr-25" data-feather="star"></i>
                                    <span>Info</span>
                                </div>
                                <div class="badge badge-dark">
                                    <i class="mr-25" data-feather="star"></i>
                                    <span>Info</span>
                                </div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Badges With Icons End -->

        <section id="badges-with-links">
            <div class="row match-height">
                <!-- Badges With Links starts -->
                <div class="col-md-6 col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeLink">
                        <h4 class="card-title">Link Badge</h4>
                        <div class="card-body">
                            <p class="text-left">
                                Use <code>&lt;a&gt;</code> tag inside your <code>.badge</code> to create a badge with
                                icon
                            </p>
                            <div class="badge badge-primary">
                                <a href="https://pixinvent.com/" target="_blank">
                                    <span [class]="'mr-25'" [data-feather]="'link'"></span>
                                    <span>Link Badge</span>
                                </a>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>

                <!-- Badges With Links ends -->

                <!-- Block Badges start -->
                <div class="col-md-6 col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBlockWithLink">
                        <h4 class="card-title">Block Badge With Link</h4>
                        <div class="card-body">
                            <p class="text-left">
                                Use <code>.d-block</code> class with <code>.badge</code>, to display badge as a block
                                element.
                            </p>
                            <div class="badge d-block badge-primary">
                                <span>Badge</span>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
                <!-- Block Badges end -->
            </div>
        </section>
    </div>
</div>
