<!-- Vertical Menu -->
<ng-container *ngIf="layout === 'vertical' && currentUser">
    <ng-container *ngFor="let item of menu">
        <!-- section -->
        <li
                *ngIf="
        item.type == 'section' && (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
      "
                [item]="item"
                class="navigation-header"
                core-menu-vertical-section
        ></li>

        <!-- sub-menu item/collapsible of sections  -->
        <ng-container *ngIf="item.type == 'section'">
            <ng-container *ngFor="let item of item.children">
                <!-- item | if openInNewTab set routerLink & routerLinkActive blank -->
                <li
                        *ngIf="
            item.type == 'item' && (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
          "
                        [item]="item"
                        [ngClass]="{ disabled: item.disabled === true }"
                        [routerLinkActiveOptions]="{ exact: item.exactMatch || false }"
                        [routerLinkActive]="!item.openInNewTab ? 'active' : ''"
                        core-menu-vertical-item
                >
                    <!-- Fix: Required routerLink to identify the active -->
                    <span [routerLink]="item.openInNewTab ? [] : [item.url]" class="d-none"></span>
                </li>
                <!-- collapsible -->
                <li
                        *ngIf="
            item.type == 'collapsible' &&
            (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
          "
                        [item]="item"
                        class="nav-item has-sub"
                        core-menu-vertical-collapsible
                ></li>
            </ng-container>
        </ng-container>

        <!-- item -->
        <li
                *ngIf="
        item.type == 'item' && (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
      "
                [item]="item"
                [ngClass]="{ disabled: item.disabled === true }"
                [routerLinkActiveOptions]="{ exact: item.exactMatch || false }"
                [routerLinkActive]="!item.openInNewTab ? 'active' : ''"
                core-menu-vertical-item
        >
            <span [routerLink]="item.openInNewTab ? [] : [item.url]" class="d-none"></span>
        </li>
        <!-- collapsible -->
        <li
                *ngIf="
        item.type == 'collapsible' &&
        (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
      "
                [item]="item"
                class="nav-item has-sub"
                core-menu-vertical-collapsible
        ></li>
    </ng-container>
</ng-container>
<!--/ Vertical Menu -->

<!-- Horizontal Menu -->
<ng-container *ngIf="layout === 'horizontal' && currentUser">
    <ng-container *ngFor="let item of menu">
        <!-- section -->
        <li
                *ngIf="
        item.type == 'section' && (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
      "
                [item]="item"
                class="dropdown nav-item"
                core-menu-horizontal-collapsible
        ></li>

        <!-- item | if openInNewTab set routerLink & routerLinkActive blank -->
        <li
                *ngIf="
        item.type == 'item' && (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
      "
                [item]="item"
                [ngClass]="{ disabled: item.disabled === true }"
                [routerLinkActiveOptions]="{ exact: item.exactMatch || false }"
                [routerLinkActive]="!item.openInNewTab ? 'active' : ''"
                core-menu-horizontal-item
        >
            <span [routerLink]="item.openInNewTab ? [] : [item.url]" class="d-none"></span>
        </li>

        <!-- collapsible -->
        <li
                *ngIf="
        item.type == 'collapsible' &&
        (item.role ? item.role.includes(currentUser.role) : false || item.role == undefined)
      "
                [item]="item"
                class="dropdown dropdown-submenu"
                core-menu-horizontal-collapsible
        ></li>
    </ng-container>
</ng-container>
<!--/ Horizontal Menu -->
