<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- alert -->
        <ngb-alert [dismissible]="false" [type]="'primary'">
            <div class="alert-body">
                <strong>Info: </strong> This layout can be useful for getting started with empty content section. Please
                check
                the Layout empty <a class="alert-link" href="#">documentation</a> for more details.
            </div>
        </ngb-alert>
        <!--/ alert -->
    </div>
</div>
