<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
        <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28"/>
        <h2 class="brand-text text-primary ml-1">Telnet Leave Management Dashboard</h2></a
    >
        <!-- /Brand logo-->
        <!-- Left Text-->
        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                <img
                        class="img-fluid"
                        [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/login-v2-dark.svg'
              : 'assets/images/pages/login-v2.svg'
          "
                        alt="Login V2"
                />
            </div>
        </div>
        <!-- /Left Text-->
        <!-- Login-->
        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                <h2 class="card-title font-weight-bold mb-1">Welcome to Telnet's Leave Management Dashboard! 👋</h2>
                <p class="card-text mb-2">Please sign-in to your account</p>


                <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                    <div class="alert-body">
                        <p>{{ error }}</p>
                    </div>
                </ngb-alert>

                <form class="auth-login-form mt-2" #loginForm = "ngForm" (ngSubmit)="(loginForm.form.valid)">
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input
                                #emailRef = "ngModel"
                                id="username"
                                type="email"
                                class="form-control"
                                [class.error]="(submitted || emailRef.touched) && emailRef.invalid"
                                [(ngModel)]="authRequest.email"
                                [ngModelOptions]="{ standalone: true }"
                                [ngClass]="{'is-invalid': (submitted || emailRef.touched) && emailRef.invalid}"
                                placeholder="Enter your email address"
                                aria-describedby="login-email"
                                autofocus=""
                                tabindex="1"
                                required
                        />
                        <div *ngIf="(submitted || emailRef.touched) && emailRef.invalid" class="invalid-feedback">
                            <div *ngIf="emailRef.hasError('required')">Email is required</div>
                            <div *ngIf="emailRef.hasError('email')">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label for="password">Password</label
                            ><a routerLink="/pages/authentication/forgot-password-v2"><small>Forgot
                            Password?</small></a>
                        </div>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input
                                    #passwordRef = "ngModel"
                                    id="password"
                                    [type]="passwordTextType ? 'text' : 'password'"
                                    [(ngModel)]="authRequest.password"
                                    [ngModelOptions]="{ standalone: true }"
                                    class="form-control form-control-merge"
                                    [class.error]="(submitted || passwordRef.touched) && passwordRef.invalid"
                                    [ngClass]="{ 'is-invalid error': (submitted || passwordRef.touched) && passwordRef.invalid }"
                                    placeholder="Enter your password"
                                    aria-describedby="login-password"
                                    tabindex="2"
                                    required
                            />
                            <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                ><i
                        class="feather font-small-4"
                        [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                        (click)="togglePasswordTextType()"
                ></i
                ></span>
                            </div>
                        </div>
                        <div *ngIf="(submitted || passwordRef.touched) && passwordRef.invalid" class="invalid-feedback" [ngClass]="{ 'd-block': (submitted || passwordRef.touched) && passwordRef.invalid }">
                            <div *ngIf="passwordRef.hasError('required')">Password is required</div>
                        </div>
                    </div>
                    <!--          <div class="form-group">-->
                    <!--            <div class="custom-control custom-checkbox">-->
                    <!--              <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />-->
                    <!--              <label class="custom-control-label" for="remember-me"> Remember Me</label>-->
                    <!--            </div>-->
                    <!--          </div>-->
                    <button [disabled]="!loginForm.valid" routerLink="/apps/dashboard" class="btn btn-primary btn-block" tabindex="4" rippleEffect type="submit"
                            (click)="authenticate()">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Sign in
                    </button>
                </form>
<!--                <p class="text-center mt-2">-->
<!--          <span>New on our platform?</span-->
<!--          ><a routerLink="/pages/authentication/register-v2"><span>&nbsp;Create an account</span></a>-->
<!--                </p>-->

            </div>
        </div>
        <!-- /Login-->
    </div>
</div>







<ng-template #content let-modal>
    <div class="content-body edit-model">
        <div class="row match-height">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card card-transaction">
                    <div class="card-header">
                        <h4 class="card-title ">Set Up Two-Factor Authentication</h4>
                        <i (click)="close('edit-model')">
                            <span data-feather="x" class="font-medium-3 cursor-pointer"></span>
                        </i>
                    </div>
                    <br>
                    <div class="card-body" >
                        <div class="container" *ngIf="authResponse.mfaEnabled">
                            <h2>Two-Factor Authentication</h2>
                            <div class="form-group">
                                <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
                                <input
                                        type="text"
                                        id="validationCode"
                                        name="validationCode"
                                        class="form-control"
                                        required
                                        [(ngModel)]="otpCode"
                                >
                            </div>
                            <button type="button" class= "btn btn-primary" (click)="verifyCode()"
                                    [class.button-disabled]="otpCode.length < 6"
                            >Verify code
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</ng-template>
