<div *ngIf="!authResponse.mfaEnabled" class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
        <img alt="brand-logo" height="28" src="{{ coreConfig.app.appLogoImage }}"/>
        <h2 class="brand-text text-primary ml-1">Telnel Leave Management</h2></a
    >
        <!-- /Brand logo-->
        <!-- Left Text-->
        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                <img
                        [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/register-v2-dark.svg'
              : 'assets/images/pages/register-v2.svg'
          "
                        alt="Register V2"
                        class="img-fluid"
                />
            </div>
        </div>
        <!-- /Left Text-->
        <!-- Register-->
        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                <h2 class="card-title font-weight-bold mb-1">Adventure starts here 🚀</h2>
                <p class="card-text mb-2">Make your Leaves management easy and fun!</p>
                <form [formGroup]="registerForm" class="auth-register-form mt-2">
                    <div class="form-group">
                        <label class="form-label" for="firstname">First Name</label>
                        <input [(ngModel)]="registerRequest.firstName"
                               [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                               [ngModelOptions]="{standalone: true}"
                               aria-describedby="register-username"
                               autofocus
                               class="form-control"
                               id="firstname"
                               placeholder="First Name"

                               tabindex="1"
                               type="text"
                        />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="lastname">Last Name</label>
                        <input [(ngModel)]="registerRequest.lastName"
                               [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                               [ngModelOptions]="{standalone: true}"
                               aria-describedby="register-username"
                               autofocus
                               class="form-control"
                               id="lastname"
                               placeholder="Last Name"
                               tabindex="1"
                               type="text"
                        />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <input [(ngModel)]="registerRequest.email"
                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                               [ngModelOptions]="{standalone: true}"
                               aria-describedby="register-email"
                               class="form-control"
                               id="email"
                               placeholder="john@example.com"
                               tabindex="2"
                               type="text"
                        />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>

                        <div class="input-group input-group-merge form-password-toggle">
                            <input
                                    [(ngModel)]="registerRequest.password"
                                    [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                                    [ngModelOptions]="{standalone: true}"
                                    [type]="passwordTextType ? 'text' : 'password'"
                                    aria-describedby="register-password"
                                    class="form-control form-control-merge"
                                    id="password"
                                    placeholder="············"
                                    tabindex="3"
                            />
                            <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                ><i
                        (click)="togglePasswordTextType()"
                        [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                        class="feather font-small-4"
                ></i
                ></span>
                            </div>
                        </div>
                        <div
                                *ngIf="submitted && f.password.errors"
                                [ngClass]="{ 'd-block': submitted && f.password.errors }"
                                class="invalid-feedback"
                        >
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input [(ngModel)]="registerRequest.mfaEnabled" [ngModelOptions]="{standalone: true}"
                                   class="custom-control-input"
                                   id="register-privacy-policy" tabindex="4"
                                   type="checkbox"/>
                            <label class="custom-control-label" for="register-privacy-policy">
                                Enable Multi-Factor Authentication
                            </label>
                        </div>
                    </div>
                    <button (click)="registerUser()" class="btn btn-primary btn-block" rippleEffect tabindex="5">Sign
                        up
                    </button>
                </form>
                <p class="text-center mt-2">
          <span (click)="openSignUpModal()">Already have an account?</span
          ><a routerLink="/pages/authentication/login-v2"><span>Sign in instead</span></a>
                </p>

            </div>
        </div>
        <!-- /Register-->
    </div>
</div>
<ng-template #content let-modal>
    <div class="content-body edit-model">
        <div class="row match-height">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card card-transaction">
                    <div class="card-header">
                        <h4 class="card-title ">Set Up Two-Factor Authentication</h4>
                        <i (click)="close('edit-model')">
                            <span class="font-medium-3 cursor-pointer" data-feather="x"></span>
                        </i>
                    </div>
                    <br>
                    <div class="card-body">
                        <div *ngIf="authResponse.mfaEnabled" class="flexbox-container center-layout">
                            <div *ngIf="message" class="success-message-panel">
                                <div class="success-icon">&#10004;</div>
                                <div class="success-message">{{ message }}</div>
                            </div>
                            <div class="qr-code">
                                <img [src]="authResponse.secretImageUri" alt="QR Code" class="mb-2"/>
                            </div>
                            <div class="form-group">
                                <label for="validationCode"
                                >Enter 6 digits Validation Code Generated by the app</label
                                >
                                <input
                                        [(ngModel)]="otpCode"
                                        class="form-control"
                                        id="validationCode"
                                        name="validationCode"
                                        required
                                        type="text"
                                />
                            </div>
                            <button
                                    (click)="verifyTfa()"
                                    [class.button-disabled]="otpCode.length < 6"
                                    class="btn btn-primary"
                                    type="button"
                            >
                                Verify code
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</ng-template>


<!--<div class="container" *ngIf="!authResponse.mfaEnabled">
  <div class="success-message-panel" *ngIf="message">
    <div class="success-icon">&#10004;</div>
    <div class="success-message">{{ message }}</div>
  </div>

  <h2>Register</h2>
  <form (ngSubmit)="registerUser()">
    <div class="form-group">
      <label for="firstname">First name</label>
      <input
              id="firstname"
              name="firstname"
              required
              type="text"
              [(ngModel)]="registerRequest.firstname"
      />
    </div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input
              id="lastname"
              name="lastname"
              required
              type="text"
              [(ngModel)]="registerRequest.lastname"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
              id="email"
              name="email"
              required
              type="text"
              [(ngModel)]="registerRequest.email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
              id="password"
              name="password"
              required
              type="password"
              [(ngModel)]="registerRequest.password"
      />
    </div>
    <div class="form-group">
      <input
              id="rememberMe"
              name="rememberMe"
              type="checkbox"
              [(ngModel)]="registerRequest.mfaEnabled"
      />
      <label for="rememberMe">Enable 2FA (Two Factors Authentication)</label>
    </div>
    <button type="submit">Register</button>
    <a routerLink="/pages/authentication/login-v2">Login</a>
  </form>
</div>-->
<!--

<div class="container" *ngIf="authResponse.mfaEnabled">
  <div class="success-message-panel" *ngIf="message">
    <div class="success-icon">&#10004;</div>
    <div class="success-message">{{ message }}</div>
  </div>

  <h2>Set Up Two-Factor Authentication</h2>
  <div class="qr-code">
    <img [src]="authResponse.secretImageUri" alt="QR Code" />
  </div>
  <div class="form-group">
    <label for="validationCode"
    >Enter 6 digits Validation Code Generated by the app</label
    >
    <input
            type="text"
            id="validationCode"
            name="validationCode"
            required
            [(ngModel)]="otpCode"
    />
  </div>
  <button
          type="button"
          (click)="verifyTfa()"
          [class.button-disabled]="otpCode.length < 6"
  >
    Verify code
  </button>
</div>
-->

