<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form #newUserForm="ngForm" (ngSubmit)="(newUserForm.form.valid)" class="add-new-user modal-content pt-0">
                <button
                        (click)="toggleSidebar('new-user-sidebar')"
                        aria-label="Close"
                        class="close"
                        data-dismiss="modal"
                        type="button"
                >
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">New User</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-firstname">First Name</label>
                        <input
                            #FNameRef="ngModel"
                            [(ngModel)]="registerRequest.firstName"
                            [class.error]="(newUserForm.submitted || FNameRef.touched) && FNameRef.invalid"
                            [ngClass]="{ 'is-invalid': newUserForm.submitted && FNameRef.invalid }"
                            aria-describedby="basic-icon-default-fullname2"
                            aria-label="Enter First Name"
                            class="form-control dt-first-name"
                            id="basic-icon-default-firstname"
                            name="user-firstname"
                            placeholder="Enter First Name here"
                            required
                            type="text"
                        />
                        <span *ngIf="(newUserForm.submitted || FNameRef.touched ) && FNameRef.invalid"
                              class="invalid-form">
              <small *ngIf="FNameRef.errors.required"
                     class="form-text text-danger">This field is required!</small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-uname">Last name</label>
                        <input
                            #FUserNameRef="ngModel"
                            [(ngModel)]="registerRequest.lastName"
                            [class.error]="(newUserForm.submitted || FUserNameRef.touched) && FUserNameRef.invalid"
                            [ngClass]="{ 'is-invalid': newUserForm.submitted && FUserNameRef.invalid }"
                            aria-describedby="basic-icon-default-uname2"
                            aria-label="jdoe1"
                            class="form-control dt-uname"
                            id="basic-icon-default-uname"
                            name="user-lastname"
                            placeholder="Enter Last Name here"
                            required
                            type="text"
                        />
                        <span *ngIf="(newUserForm.submitted || FUserNameRef.touched ) && FUserNameRef.invalid"
                              class="invalid-form">
              <small *ngIf="FUserNameRef.errors.required" class="form-text text-danger">This field is required!</small>
            </span>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="user-gender">User Gender</label>
                        <!--                        <select [(ngModel)]="registerRequest.role" class="form-control" id="user-role">-->
                        <!--                            <option value="USER">User</option>-->
                        <!--                            <option value="MANAGER">Manager</option>-->
                        <!--                            <option value="ADMIN">Admin</option>-->
                        <!--                        </select>-->

                        <ng-select (change)="onGenderChange($event)"
                                   [(ngModel)]="registerRequest.gender"
                                   [items]="genders"
                                   bindLabel="name"
                                   class="width-77"
                                   id="user-gender"
                                   name="user-gender"
                                   placeholder="Select Gender">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-email">Email</label>
                        <input
                            #FEmailRef="ngModel"
                            [(ngModel)]="registerRequest.email"
                            [class.error]="(newUserForm.submitted || FEmailRef.touched ) && (FEmailRef.invalid || FEmailRef.errors.email)"
                            [ngClass]="{ 'is-invalid': newUserForm.submitted && FEmailRef.invalid }"
                            aria-describedby="basic-icon-default-email2"
                            aria-label="john.doe@example.com"
                            class="form-control dt-email"
                            id="basic-icon-default-email"
                            name="user-email"
                            placeholder="john.doe@example.com"
                            required
                            type="email"
                        />
                        <span *ngIf="(newUserForm.submitted || FEmailRef.touched ) && FEmailRef.invalid"
                              class="invalid-form">
              <small *ngIf="FEmailRef.errors.required" class="form-text text-danger">This field is required!</small>
                <small *ngIf="FEmailRef.errors.email"
                       class="form-text text-danger">Please enter a valid email address</small>
            </span>
                        <small class="form-text text-muted"> You can use letters, numbers & periods </small>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="user-password">Password</label>
                        <input
                            #PasswordRef="ngModel"
                            [(ngModel)]="registerRequest.password"
                            [class.error]="(newUserForm.submitted || PasswordRef.touched) && PasswordRef.invalid"
                            [ngClass]="{ 'is-invalid': newUserForm.submitted && PasswordRef.invalid }"
                            aria-describedby="basic-icon-default-password"
                            aria-label="password"
                            class="form-control dt-password"
                            id="user-password"
                            name="user-password"
                            placeholder="Enter password here"
                            required
                            type="password"
                        />
                        <span *ngIf="(newUserForm.submitted || PasswordRef.touched) && PasswordRef.invalid"
                              class="invalid-form">
              <small *ngIf="PasswordRef.errors.required" class="form-text text-danger">This field is required!</small>
            </span>
                        <small class="form-text text-muted"> You can use letters, numbers & periods </small>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="user-role">User Role</label>
                        <!--                        <select [(ngModel)]="registerRequest.role" class="form-control" id="user-role">-->
                        <!--                            <option value="USER">User</option>-->
                        <!--                            <option value="MANAGER">Manager</option>-->
                        <!--                            <option value="ADMIN">Admin</option>-->
                        <!--                        </select>-->

                        <ng-select (change)="onRoleChange($event)"
                                   [(ngModel)]="registerRequest.role"
                                   [items]="roles"
                                   bindLabel="name"
                                   class="width-77"
                                   id="user-role"
                                   name="user-role"
                                   placeholder="Select Leave Type">
                        </ng-select>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="user-phone">Phone Number</label>
                        <input
                            #PhoneRef="ngModel"

                            [(ngModel)]="registerRequest.phone"
                            [class.error]="(newUserForm.submitted || PhoneRef.touched ) && PhoneRef.invalid"
                            [ngClass]="{ 'is-invalid': newUserForm.submitted && PhoneRef.invalid }"
                            class="form-control dt-phone"
                            id="user-phone"
                            minlength="8"
                            name="user-phone"
                            pattern="^\+?\d{8,}$"
                            placeholder="Enter phone number here"
                            required
                            type="tel"
                        />
                        <span *ngIf="(newUserForm.submitted || PhoneRef.touched ) && PhoneRef.invalid"
                              class="invalid-form">
                            <small *ngIf="PhoneRef.errors.required" class="form-text text-danger">This field must be numeric and contain at least 8 digits</small>
                        </span>
                    </div>

                    <button (click)="addUser()" class="btn btn-primary mr-1" rippleEffect type="submit">
                        Submit
                    </button>
                    <button
                            (click)="toggleSidebar('new-user-sidebar')"
                            class="btn btn-outline-secondary"
                            rippleEffect
                            type="reset"
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal to add new user Ends-->
</div>
