<div class="content-wrapper container-xxl p-2">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
        <div class="card-body">
            <form #leaveEdit="ngForm" (ngSubmit)="leaveEdit.form.valid" class="form form-vertical">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                    </div>
                                    <!--                                        <input-->
                                    <!--                                                [(ngModel)]="userEmail"-->
                                    <!--                                                class="form-control"-->
                                    <!--                                                id="first-name-icon"-->
                                    <!--                                                name="fname-icon"-->
                                    <!--                                                placeholder="Enter Email Here"-->
                                    <!--                                                type="text"-->
                                    <!--                                        />-->

                                    <ng-select
                                        #UserInput="ngModel"
                                        (change)="onUserEmailChange($event)"
                                        [(ngModel)]="userEmail"
                                        [class.error]='UserInput.invalid && (UserInput.touched || leaveEdit.submitted)'
                                        [items]="selectUser"
                                        [ngClass]="{ 'is-invalid error': UserInput.invalid && (UserInput.touched || leaveEdit.submitted) }"
                                        bindLabel="email"
                                        bindValue="email"
                                        class="width-77"
                                        id="email"
                                        required
                                    >
                                        <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                     ng-option-tmp>
                                            <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                            <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.firstName + ' ' + item.lastName }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ item.role }}</h6>
                                                    <p class="card-text">
                                                        <i [data-feather]="'mail'"></i>
                                                        {{ item.email }}
                                                    </p>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>

                                    <div *ngIf="UserInput.invalid && (UserInput.touched || leaveEdit.submitted)"
                                         [ngClass]="{'d-block' : (leaveEdit.submitted || UserInput.touched) && UserInput.invalid}"
                                         class="invalid-feedback">
                                        <span *ngIf="UserInput.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="role==='ADMIN' ; else nonAdminView" class="col-12">
                            <div class="form-group">
                                <label for="leave-type">Leave Type</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'check'"></span></span>
                                    </div>
                                    <!--                            <input-->
                                    <!--                                    type="text"-->
                                    <!--                                    id="email-id-icon"-->
                                    <!--                                    class="form-control"-->
                                    <!--                                    name="email-id-icon"-->
                                    <!--                                    placeholder="Email"-->
                                    <!--                                    [(ngModel)]="leaveType"-->
                                    <!--                            />-->
                                    <ng-select #leaveTypeAdminRef='ngModel'
                                               (change)="onLeaveTypeChange($event)"
                                               [(ngModel)]="leaveTypeADMIN"
                                               [class.error]='leaveTypeAdminRef.invalid && (leaveTypeAdminRef.touched || leaveEdit.submitted)'
                                               [items]="leaveTypesADMIN"
                                               [ngClass]="{ 'is-invalid error': leaveTypeAdminRef.invalid && (leaveTypeAdminRef.touched || leaveEdit.submitted) }"
                                               bindLabel="name"
                                               class="width-77"
                                               id="leave-type"
                                               name="selectedLeaveType"
                                               placeholder="Select Leave Type"
                                               required>
                                    </ng-select>
                                    <div *ngIf="leaveTypeAdminRef.invalid && (leaveTypeAdminRef.touched || leaveEdit.submitted)"
                                         [ngClass]="{'d-block' : (leaveEdit.submitted || leaveTypeAdminRef.touched) && leaveTypeAdminRef.invalid}"
                                         class="invalid-feedback">
                                        <span *ngIf="leaveTypeAdminRef.errors.required">This field is required</span>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div *ngIf="leaveTypeADMIN==='EXCEPTIONAL_LEAVE'" class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Exceptional Leave Type</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span
                                                [data-feather]="'alert-circle'"></span></span>
                                    </div>
                                    <!--                            <input-->
                                    <!--                                    type="text"-->
                                    <!--                                    id="contact-info-icon"-->
                                    <!--                                    class="form-control"-->
                                    <!--                                    name="contact-icon"-->
                                    <!--                                    placeholder="Description"-->
                                    <!--                                    [(ngModel)]="exceptionalLeaveType"-->
                                    <!--                            />-->
                                    <ng-select #exceptionalLeaveTypeAdminRef="ngModel"
                                               (change)="onExceptionalLeaveTypeChange($event)"
                                               [(ngModel)]="exceptionalLeaveType"
                                               [class.error]='exceptionalLeaveTypeAdminRef.invalid && (exceptionalLeaveTypeAdminRef.touched || leaveEdit.submitted)'
                                               [items]="exceptionalLeaveTypes"
                                               [ngClass]="{ 'is-invalid error': exceptionalLeaveTypeAdminRef.invalid && (exceptionalLeaveTypeAdminRef.touched || leaveEdit.submitted) }"
                                               bindLabel="name"
                                               class="width-77"
                                               id="contact-info-icon"
                                               name="selectedExceptionalLeaveType"
                                               placeholder="Select Exceptional Leave Type"
                                               required
                                    ></ng-select>
                                    <div *ngIf="exceptionalLeaveTypeAdminRef.invalid && (exceptionalLeaveTypeAdminRef.touched || leaveEdit.submitted)"
                                         [ngClass]="{'d-block' : (leaveEdit.submitted || exceptionalLeaveTypeAdminRef.touched) && exceptionalLeaveTypeAdminRef.invalid}"
                                         class="invalid-feedback">
                                        <span *ngIf="exceptionalLeaveTypeAdminRef.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="leaveTypeADMIN==='HALF_DAY'" class="col-12">
                            <div class="form-group">
                                <label for="contact-info-icon">Time of Day</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'sun'"></span></span>
                                    </div>
                                    <!--                            <input-->
                                    <!--                                    type="text"-->
                                    <!--                                    id="department-icon"-->
                                    <!--                                    class="form-control"-->
                                    <!--                                    name="contact-icon"-->
                                    <!--                                    placeholder="Department Name"-->
                                    <!--                                    [(ngModel)]="timeOfDay"-->
                                    <!--                            />-->
                                    <ng-select #timeOfDayAdminRef='ngModel'
                                               (change)="onTimeOfDayChange($event)"
                                               [(ngModel)]="timeOfDay"
                                               [class.error]='timeOfDayAdminRef.invalid && (timeOfDayAdminRef.touched || leaveEdit.submitted)'
                                               [items]="timesOfDay"
                                               [ngClass]="{ 'is-invalid error': timeOfDayAdminRef.invalid && (timeOfDayAdminRef.touched || leaveEdit.submitted) }"
                                               bindLabel="name"
                                               class="width-77"
                                               id="email-icon"
                                               name="selectedTimeOfDay"
                                               placeholder="Select Time of Day"
                                               required
                                    ></ng-select>
                                    <div *ngIf="timeOfDayAdminRef.invalid && (timeOfDayAdminRef.touched || leaveEdit.submitted)"
                                         [ngClass]="{'d-block' : (leaveEdit.submitted || timeOfDayAdminRef.touched) && timeOfDayAdminRef.invalid}"
                                         class="invalid-feedback">
                                        <span *ngIf="timeOfDayAdminRef.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #nonAdminView>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-icon">Leave Type</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span [data-feather]="'check'"></span></span>
                                        </div>
                                        <!--                            <input-->
                                        <!--                                    type="text"-->
                                        <!--                                    id="email-id-icon"-->
                                        <!--                                    class="form-control"-->
                                        <!--                                    name="email-id-icon"-->
                                        <!--                                    placeholder="Email"-->
                                        <!--                                    [(ngModel)]="leaveType"-->
                                        <!--                            />-->
                                        <ng-select #leaveTypeRef='ngModel'
                                                   (change)="onLeaveTypeChange($event)"
                                                   [(ngModel)]="leaveType"
                                                   [class.error]='leaveTypeRef.invalid && (leaveTypeRef.touched || leaveEdit.submitted)'
                                                   [items]="leaveTypes"
                                                   [ngClass]="{ 'is-invalid error': leaveTypeRef.invalid && (leaveTypeRef.touched || leaveEdit.submitted) }"
                                                   bindLabel="name"
                                                   class="width-77"
                                                   id="email-id-icon"
                                                   name="selectedLeaveType"
                                                   placeholder="Select Leave Type"
                                                   required>
                                        </ng-select>
                                        <div *ngIf="leaveTypeRef.invalid && (leaveTypeRef.touched || leaveEdit.submitted)"
                                             [ngClass]="{'d-block' : (leaveEdit.submitted || leaveTypeRef.touched) && leaveTypeRef.invalid}"
                                             class="invalid-feedback">
                                            <span *ngIf="leaveTypeRef.errors.required">This field is required</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="leaveType==='EXCEPTIONAL_LEAVE'" class="col-12">
                                <div class="form-group">
                                    <label for="contact-info-icon">Exceptional Leave Type</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span [data-feather]="'alert-circle'"></span></span>
                                        </div>
                                        <!--                            <input-->
                                        <!--                                    type="text"-->
                                        <!--                                    id="contact-info-icon"-->
                                        <!--                                    class="form-control"-->
                                        <!--                                    name="contact-icon"-->
                                        <!--                                    placeholder="Description"-->
                                        <!--                                    [(ngModel)]="exceptionalLeaveType"-->
                                        <!--                            />-->
                                        <ng-select #exceptionalLeaveTypeRef='ngModel'
                                                   (change)="onExceptionalLeaveTypeChange($event)"
                                                   [(ngModel)]="exceptionalLeaveType"
                                                   [class.error]='exceptionalLeaveTypeRef.invalid && (exceptionalLeaveTypeRef.touched || leaveEdit.submitted)'
                                                   [items]="exceptionalLeaveTypes"
                                                   [ngClass]="{ 'is-invalid error': exceptionalLeaveTypeRef.invalid && (exceptionalLeaveTypeRef.touched || leaveEdit.submitted) }"
                                                   bindLabel="name"
                                                   class="width-77"
                                                   id="exceptional-leave-type"
                                                   name="selectedExceptionalLeaveType"
                                                   placeholder="Select Exceptional Leave Type"
                                                   required
                                        ></ng-select>
                                        <div *ngIf="exceptionalLeaveTypeRef.invalid && (exceptionalLeaveTypeRef.touched || leaveEdit.submitted)"
                                             [ngClass]="{'d-block' : (leaveEdit.submitted || exceptionalLeaveTypeRef.touched) && exceptionalLeaveTypeRef.invalid}"
                                             class="invalid-feedback">
                                            <span *ngIf="exceptionalLeaveTypeRef.errors.required">This field is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="leaveType==='HALF_DAY'" class="col-12">
                                <div class="form-group">
                                    <label for="contact-info-icon">Time of Day</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><span [data-feather]="'sun'"></span></span>
                                        </div>
                                        <!--                            <input-->
                                        <!--                                    type="text"-->
                                        <!--                                    id="department-icon"-->
                                        <!--                                    class="form-control"-->
                                        <!--                                    name="contact-icon"-->
                                        <!--                                    placeholder="Department Name"-->
                                        <!--                                    [(ngModel)]="timeOfDay"-->
                                        <!--                            />-->
                                        <ng-select #timeOfDayRef='ngModel'
                                                   (change)="onTimeOfDayChange($event)"
                                                   [(ngModel)]="timeOfDay"
                                                   [class.error]='timeOfDayRef.invalid && (timeOfDayRef.touched || leaveEdit.submitted)'
                                                   [items]="timesOfDay"
                                                   [ngClass]="{ 'is-invalid error': timeOfDayRef.invalid && (timeOfDayRef.touched || leaveEdit.submitted) }"
                                                   bindLabel="name"
                                                   class="width-77"
                                                   id="time-of-day"
                                                   name="selectedTimeOfDay"
                                                   placeholder="Select Time of Day"
                                                   required
                                        ></ng-select>
                                        <div *ngIf="timeOfDayRef.invalid && (timeOfDayRef.touched || leaveEdit.submitted)"
                                             [ngClass]="{'d-block' : (leaveEdit.submitted || timeOfDayRef.touched) && timeOfDayRef.invalid}"
                                             class="invalid-feedback">
                                            <span *ngIf="timeOfDayRef.errors.required">This field is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>


                    </div>
                    <div class="col-6">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="contact-info-icon">Start Date</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><span
                                                    [data-feather]="'calendar'"></span></span>
                                    </div>
                                    <input
                                        #startDateRef="ngModel"
                                        [(ngModel)]="startDate"
                                        [class.error]="startDateRef.invalid && (startDateRef.touched || leaveEdit.submitted)"
                                        [ngClass]="{ 'is-invalid error': startDateRef.invalid && (startDateRef.touched || leaveEdit.submitted) }"
                                        class="form-control width-77"
                                        id="start-date"
                                        name="contact-icon"
                                        placeholder="Enter Start Date Here"
                                        required
                                        type="datetime-local"
                                    />
                                    <div *ngIf="startDateRef.invalid && (startDateRef.touched || leaveEdit.submitted)"
                                         [ngClass]="{'d-block' : (leaveEdit.submitted || startDateRef.touched) && startDateRef.invalid}"
                                         class="invalid-feedback">
                                        <span *ngIf="startDateRef.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="contact-info-icon">End Date</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><span
                                                    [data-feather]="'calendar'"></span></span>
                                    </div>
                                    <input
                                        #endDateRef="ngModel"
                                        [(ngModel)]="endDate"
                                        [class.error]="endDateRef.invalid && (endDateRef.touched || leaveEdit.submitted)"
                                        [ngClass]="{ 'is-invalid error': endDateRef.invalid && (endDateRef.touched || leaveEdit.submitted) }"
                                        class="form-control width-77"
                                        id="End Date"
                                        name="contact-icon"
                                        placeholder="Enter End Date Here"
                                        type="datetime-local"
                                    />
                                    <div *ngIf="endDateRef.invalid && (endDateRef.touched || leaveEdit.submitted)"
                                         [ngClass]="{'d-block' : (leaveEdit.submitted || endDateRef.touched) && endDateRef.invalid}"
                                         class="invalid-feedback">
                                        <span *ngIf="endDateRef.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-sm-row flex-column mt-2 ml-2">
                        <button (click)="editLeave()"
                                class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light"
                                rippleEffect type="submit">
                            Submit
                        </button>

                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
