<div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
        <!-- Login v1 -->
        <div class="card mb-0">
            <div class="card-body">
                <a class="brand-logo" href="javascript:void(0);">
                    <img alt="brand-logo" height="28" src="{{ coreConfig.app.appLogoImage }}"/>
                    <h2 class="brand-text text-primary ml-1">Vuexy</h2>
                </a>

                <h4 class="card-title mb-1">Welcome to Vuexy! 👋</h4>
                <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>

                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="auth-login-form mt-2">
                    <div class="form-group">
                        <label class="form-label" for="login-email">Email</label>
                        <input
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                aria-describedby="login-email"
                                autofocus
                                class="form-control"
                                formControlName="email"
                                placeholder="john@example.com"
                                tabindex="1"
                                type="text"
                        />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label for="login-password">Password</label>
                            <a routerLink="/pages/authentication/forgot-password-v1">
                                <small>Forgot Password?</small>
                            </a>
                        </div>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input
                                    [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                                    [type]="passwordTextType ? 'text' : 'password'"
                                    aria-describedby="login-password"
                                    class="form-control form-control-merge"
                                    formControlName="password"
                                    placeholder="·········"
                                    tabindex="2"
                            />

                            <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                ><i
                        (click)="togglePasswordTextType()"
                        [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                        class="feather font-small-4"
                ></i
                ></span>
                            </div>
                        </div>
                        <div
                                *ngIf="submitted && f.password.errors"
                                [ngClass]="{ 'd-block': submitted && f.password.errors }"
                                class="invalid-feedback"
                        >
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="remember-me" tabindex="3" type="checkbox"/>
                            <label class="custom-control-label" for="remember-me"> Remember Me </label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" rippleEffect tabindex="4">Sign in</button>
                </form>

                <p class="text-center mt-2">
                    <span>New on our platform?</span>
                    <a routerLink="/pages/authentication/register-v1">
                        <span>&nbsp;Create an account</span>
                    </a>
                </p>

                <div class="divider my-2">
                    <div class="divider-text">or</div>
                </div>

                <div class="auth-footer-btn d-flex justify-content-center">
                    <a class="btn btn-facebook" href="javascript:void(0)">
                        <i data-feather="facebook"></i>
                    </a>
                    <a class="btn btn-twitter white" href="javascript:void(0)">
                        <i data-feather="twitter"></i>
                    </a>
                    <a class="btn btn-google" href="javascript:void(0)">
                        <i data-feather="mail"></i>
                    </a>
                    <a class="btn btn-github" href="javascript:void(0)">
                        <i data-feather="github"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Login v1 -->
    </div>
</div>
