<!-- User Chat profile right area -->
<div class="active-user-profile-sidebar">
    <header class="user-profile-header">
        <button (click)="toggleSidebar('chat-active-sidebar')" class="btn close-icon p-0">
            <i data-feather="x"></i>
        </button>
        <!-- User Profile image with name -->
        <div class="header-profile-sidebar">
            <div class="avatar box-shadow-1 avatar-border avatar-xl">
                <img [src]="chatUser.avatar" alt="user_avatar" height="70" width="70"/>
                <span
                        [ngClass]="{
            'avatar-status-offline': chatUser.status == 'offline',
            'avatar-status-online': chatUser.status == 'online',
            'avatar-status-busy': chatUser.status == 'busy',
            'avatar-status-away': chatUser.status == 'away'
          }"
                        class="avatar-status-lg"
                ></span>
            </div>
            <h4 class="chat-user-name">{{ chatUser.fullName }}</h4>
            <span class="user-post">{{ chatUser.role }}</span>
        </div>
        <!--/ User Profile image with name -->
    </header>
    <div [perfectScrollbar] class="user-profile-sidebar-area">
        <!-- About User -->
        <h6 class="section-label mb-1">About</h6>
        <p>{{ chatUser.about }}</p>
        <!-- About User -->
        <!-- User's personal information -->
        <div class="personal-info">
            <h6 class="section-label mb-1 mt-3">Personal Information</h6>
            <ul class="list-unstyled">
                <li class="mb-1">
                    <i class="font-medium-2 mr-50" data-feather="mail"></i>
                    <span class="align-middle">kristycandy@email.com</span>
                </li>
                <li class="mb-1">
                    <i class="font-medium-2 mr-50" data-feather="phone-call"></i>
                    <span class="align-middle">+1(123) 456 - 7890</span>
                </li>
                <li>
                    <i class="font-medium-2 mr-50" data-feather="clock"></i>
                    <span class="align-middle">Mon - Fri 10AM - 8PM</span>
                </li>
            </ul>
        </div>
        <!--/ User's personal information -->

        <!-- User's Links -->
        <div class="more-options">
            <h6 class="section-label mb-1 mt-3">Options</h6>
            <ul class="list-unstyled">
                <li class="cursor-pointer mb-1">
                    <i class="font-medium-2 mr-50" data-feather="tag"></i>
                    <span class="align-middle">Add Tag</span>
                </li>
                <li class="cursor-pointer mb-1">
                    <i class="font-medium-2 mr-50" data-feather="star"></i>
                    <span class="align-middle">Important Contact</span>
                </li>
                <li class="cursor-pointer mb-1">
                    <i class="font-medium-2 mr-50" data-feather="image"></i>
                    <span class="align-middle">Shared Media</span>
                </li>
                <li class="cursor-pointer mb-1">
                    <i class="font-medium-2 mr-50" data-feather="trash"></i>
                    <span class="align-middle">Delete Contact</span>
                </li>
                <li class="cursor-pointer">
                    <i class="font-medium-2 mr-50" data-feather="slash"></i>
                    <span class="align-middle">Block Contact</span>
                </li>
            </ul>
        </div>
        <!--/ User's Links -->
    </div>
</div>
<!--/ User Chat profile right area -->
