<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Kitchen Sink Datatables -->
        <section id="ngx-datatable-kitchen-sink">
            <core-card-snippet [snippetCode]="_snippetCodeKitchenSink">
                <h4 class="card-title">Kitchen Sink</h4>
                <div class="row">
                    <div class="col-12 mb-50">
                        <button class="btn btn-primary ml-1" rippleEffect>
                            <i class="mr-0 mr-sm-1" data-feather="plus"></i
                            ><span class="d-none d-sm-inline-block">Add New Record</span>
                        </button>

                        <a [data]="exportCSVData" class="btn btn-outline-secondary float-right mr-1" csvLink
                           rippleEffect
                        >Export CSV</a
                        >
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center"
                            >Show
                                <select [(ngModel)]="basicSelectedOption" class="form-control mx-25">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label
                            >
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <label class="d-flex align-items-center"
                            >Search<input
                                    (keyup)="filterUpdate($event)"
                                    (search)="filterUpdate($event)"
                                    class="form-control ml-25"
                                    placeholder="Search"
                                    type="search"
                            /></label>
                        </div>
                    </div>
                </div>
                <ngx-datatable
                        (activate)="onActivate($event)"
                        (select)="onSelect($event)"
                        [columnMode]="ColumnMode.force"
                        [footerHeight]="50"
                        [headerHeight]="40"
                        [limit]="10"
                        [limit]="basicSelectedOption"
                        [rowHeight]="58"
                        [rows]="kitchenSinkRows"
                        [scrollbarH]="true"
                        [selectionType]="SelectionType.checkbox"
                        class="bootstrap core-bootstrap"
                >
                    <ngx-datatable-column
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            [sortable]="false"
                            [width]="50"
                    >
                        <ng-template
                                let-allRowsSelected="allRowsSelected"
                                let-selectFn="selectFn"
                                let-value="value"
                                ngx-datatable-header-template
                        >
                            <div class="custom-control custom-checkbox">
                                <input
                                        (change)="selectFn(!allRowsSelected)"
                                        [checked]="allRowsSelected"
                                        class="custom-control-input"
                                        id="headerChkbxRef"
                                        type="checkbox"
                                />
                                <label class="custom-control-label" for="headerChkbxRef"></label>
                            </div>
                        </ng-template>
                        <ng-template
                                let-isSelected="isSelected"
                                let-onCheckboxChangeFn="onCheckboxChangeFn"
                                let-rowIndex="rowIndex"
                                let-value="value"
                                ngx-datatable-cell-template
                        >
                            <div class="custom-control custom-checkbox">
                                <input
                                        (change)="onCheckboxChangeFn($event)"
                                        [checked]="isSelected"
                                        class="custom-control-input"
                                        id="rowChkbxRef{{ rowIndex }}"
                                        type="checkbox"
                                />
                                <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="280" name="Name" prop="full_name">
                        <ng-template let-name="value" let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div *ngIf="row.avatar.length > 0; else customAvatar">
                                    <img
                                            alt="datatable-avatar"
                                            class="rounded-circle mr-1"
                                            height="32"
                                            src="assets/images/portrait/small/{{ row.avatar }}"
                                            width="32"
                                    />
                                </div>
                                <ng-template #customAvatar>
                                    <div
                                            [ngClass]="{
                      'bg-light-primary': row.status == '1',
                      'bg-light-success': row.status == '2',
                      'bg-light-danger': row.status == '3',
                      'bg-light-warning': row.status == '4',
                      'bg-light-info': row.status == '5'
                    }"
                                            class="avatar mr-1 ml-0"
                                    >
                                        <div class="avatar-content">{{ name | initials }}</div>
                                    </div>
                                </ng-template>
                                <div class="cell-line-height">
                                    <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                                        {{ name }}
                                    </p>
                                    <span class="text-muted font-small-2"> {{ row.post }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="250" name="Email" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column [width]="120" name="Date" prop="start_date"></ngx-datatable-column>
                    <ngx-datatable-column [width]="120" name="Salary" prop="salary"></ngx-datatable-column>
                    <ngx-datatable-column [width]="120" name="Status" prop="status">
                        <ng-template let-status="value" ngx-datatable-cell-template>
                            <div
                                    [ngClass]="{
                  'badge-light-primary': status == '1',
                  'badge-light-success': status == '2',
                  'badge-light-danger': status == '3',
                  'badge-light-warning': status == '4',
                  'badge-light-info': status == '5'
                }"
                                    class="badge badge-pill"
                            >
                                {{
                                    status == 1
                                        ? 'Current'
                                        : status == 2
                                            ? 'Professional'
                                            : status == 3
                                                ? 'Rejected'
                                                : status == 4
                                                    ? 'Resigned'
                                                    : status == 5
                                                        ? 'Applied'
                                                        : 'Applied'
                                }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" [width]="120" name="Actions">
                        <ng-template ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div container="body" ngbDropdown>
                                    <a
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            class="hide-arrow"
                                            data-toggle="dropdown"
                                            href="javascript:void(0);"
                                            id="dropdownBrowserState"
                                            ngbDropdownToggle
                                    >
                                        <i class="text-primary cursor-pointer mr-50" data-feather="more-vertical"></i>
                                    </a>
                                    <div aria-labelledby="dropdownBrowserState" class="dropdown-menu-right"
                                         ngbDropdownMenu>
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="file-text"></i> Details</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="archive"></i> Archive</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="trash-2"></i> Delete</a
                                        >
                                    </div>
                                </div>

                                <i class="text-primary cursor-pointer" data-feather="edit"></i>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </core-card-snippet>
        </section>
        <!--/ Kitchen Sink Datatables -->

        <!-- Inline Editing Datatables -->
        <section id="ngx-datatable-inline-editing">
            <core-card-snippet [snippetCode]="_snippetCodeInlineEditing">
                <h4 class="card-title">Inline Editing</h4>
                <ngx-datatable
                        [columnMode]="ColumnMode.force"
                        [footerHeight]="50"
                        [headerHeight]="40"
                        [limit]="10"
                        [rowHeight]="58"
                        [rows]="rows"
                        [scrollbarH]="true"
                        class="bootstrap core-bootstrap"
                >
                    <ngx-datatable-column [width]="280" name="Name" prop="full_name">
                        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value"
                                     ngx-datatable-cell-template>
                            <div
                                    (dblclick)="editingName[rowIndex + '-full_name'] = true"
                                    *ngIf="!editingName[rowIndex + '-full_name']"
                                    title="Double click to edit"
                            >
                                <div class="d-flex align-items-center">
                                    <div *ngIf="row.avatar.length > 0; else customAvatar">
                                        <img
                                                alt="datatable-avatar"
                                                class="rounded-circle mr-1"
                                                height="32"
                                                src="assets/images/portrait/small/{{ row.avatar }}"
                                                width="32"
                                        />
                                    </div>
                                    <ng-template #customAvatar>
                                        <div
                                                [ngClass]="{
                        'bg-light-primary': row.status == '1',
                        'bg-light-success': row.status == '2',
                        'bg-light-danger': row.status == '3',
                        'bg-light-warning': row.status == '4',
                        'bg-light-info': row.status == '5'
                      }"
                                                class="avatar mr-1 ml-0"
                                        >
                                            <div class="avatar-content">{{ value | initials }}</div>
                                        </div>
                                    </ng-template>
                                    <div class="cell-line-height">
                                        <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
                                        <span class="text-muted font-small-2"> {{ row.post }}</span>
                                    </div>
                                </div>
                            </div>
                            <input
                                    (blur)="inlineEditingUpdateName($event, 'full_name', rowIndex)"
                                    *ngIf="editingName[rowIndex + '-full_name']"
                                    [value]="value"
                                    autofocus
                                    class="form-control form-control-sm"
                                    type="text"
                            />
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="120" name="Status" prop="status">
                        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value"
                                     ngx-datatable-cell-template>
                            <div
                                    (dblclick)="editingStatus[rowIndex + '-status'] = true"
                                    *ngIf="!editingStatus[rowIndex + '-status']"
                                    title="Double click to edit"
                            >
                                <div
                                        [ngClass]="{
                    'badge-light-primary': value == '1',
                    'badge-light-success': value == '2',
                    'badge-light-danger': value == '3',
                    'badge-light-warning': value == '4',
                    'badge-light-info': value == '5'
                  }"
                                        class="badge badge-pill"
                                >
                                    {{
                                        value == 1
                                            ? 'Current'
                                            : value == 2
                                                ? 'Professional'
                                                : value == 3
                                                    ? 'Rejected'
                                                    : value == 4
                                                        ? 'Resigned'
                                                        : value == 5
                                                            ? 'Applied'
                                                            : 'Applied'
                                    }}
                                </div>
                            </div>
                            <select
                                    (blur)="editingStatus[rowIndex + '-status'] = false"
                                    (change)="inlineEditingUpdateStatus($event, 'status', rowIndex)"
                                    *ngIf="editingStatus[rowIndex + '-status']"
                                    [value]="value"
                                    class="form-control form-control-sm"
                            >
                                <option value="1">Current</option>
                                <option value="2">Professional</option>
                                <option value="3">Rejected</option>
                                <option value="4">Resigned</option>
                                <option value="5">Applied</option>
                            </select>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="50" name="Age" prop="age">
                        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value"
                                     ngx-datatable-cell-template>
                            <div
                                    (dblclick)="editingAge[rowIndex + '-age'] = true"
                                    *ngIf="!editingAge[rowIndex + '-age']"
                                    title="Double click to edit"
                            >
                                {{ value }}
                            </div>
                            <input
                                    (blur)="inlineEditingUpdateAge($event, 'age', rowIndex)"
                                    *ngIf="editingAge[rowIndex + '-age']"
                                    [value]="value"
                                    autofocus
                                    class="form-control form-control-sm"
                                    type="number"
                            />
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="100" [width]="120" name="Salary" prop="salary">
                        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value"
                                     ngx-datatable-cell-template>
                            <div
                                    (dblclick)="editingSalary[rowIndex + '-salary'] = true"
                                    *ngIf="!editingSalary[rowIndex + '-salary']"
                                    title="Double click to edit"
                            >
                                {{ value }}
                            </div>
                            <input
                                    (blur)="inlineEditingUpdateSalary($event, 'salary', rowIndex)"
                                    *ngIf="editingSalary[rowIndex + '-salary']"
                                    [value]="value"
                                    autofocus
                                    class="form-control form-control-sm"
                                    type="text"
                            />
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" [width]="120" name="Actions">
                        <ng-template ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div container="body" ngbDropdown>
                                    <a
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            class="hide-arrow"
                                            data-toggle="dropdown"
                                            href="javascript:void(0);"
                                            id="dropdownBrowserState"
                                            ngbDropdownToggle
                                    >
                                        <i class="text-primary cursor-pointer mr-50" data-feather="more-vertical"></i>
                                    </a>
                                    <div aria-labelledby="dropdownBrowserState" class="dropdown-menu-right"
                                         ngbDropdownMenu>
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="file-text"></i> Details</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="archive"></i> Archive</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="trash-2"></i> Delete</a
                                        >
                                    </div>
                                </div>

                                <i class="text-primary cursor-pointer" data-feather="edit"></i>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </core-card-snippet>
        </section>
        <!--/ Inline Editing Datatables -->

        <!-- Row Details  Datatables -->
        <section id="ngx-datatable-row-details">
            <core-card-snippet [snippetCode]="_snippetCodeRowDetails">
                <h4 class="card-title">Row Details</h4>

                <!-- ngx-datatable-row-details -->
                <ngx-datatable
                    #tableRowDetails
                    [columnMode]="ColumnMode.force"
                    [footerHeight]="50"
                    [headerHeight]="40"
                    [limit]="10"
                    [rowHeight]="58"
                    [rows]="rows"
                    [scrollbarH]="true"
                    class="bootstrap core-bootstrap"
                >
                    <!-- Row Detail Template -->
                    <ngx-datatable-row-detail [rowHeight]="50">
                        <ng-template let-expanded="expanded" let-row="row" ngx-datatable-row-detail-template>
                            <div class="ml-75 pl-5 pt-75">
                                <div>
                  <span><strong>City : </strong> {{ row.city }}</span
                  ><span class="ml-1"><strong>Experience : </strong> {{ row.experience }}</span
                                ><span class="ml-1"><strong>Start Date : </strong> {{ row.start_date }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-row-detail>
                    <ngx-datatable-column
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            [sortable]="false"
                            [width]="50"
                    >
                        <ng-template let-expanded="expanded" let-row="row" ngx-datatable-cell-template>
                            <a
                                    (click)="rowDetailsToggleExpand(row)"
                                    [class.datatable-icon-down]="expanded"
                                    [class.datatable-icon-right]="!expanded"
                                    class="text-body"
                                    href="javascript:void(0)"
                                    title="Expand/Collapse Row"
                            >
                            </a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="280" name="Name" prop="full_name">
                        <ng-template let-name="value" let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div *ngIf="row.avatar.length > 0; else customAvatar">
                                    <img
                                            alt="datatable-avatar"
                                            class="rounded-circle mr-1"
                                            height="32"
                                            src="assets/images/portrait/small/{{ row.avatar }}"
                                            width="32"
                                    />
                                </div>
                                <ng-template #customAvatar>
                                    <div
                                            [ngClass]="{
                      'bg-light-primary': row.status == '1',
                      'bg-light-success': row.status == '2',
                      'bg-light-danger': row.status == '3',
                      'bg-light-warning': row.status == '4',
                      'bg-light-info': row.status == '5'
                    }"
                                            class="avatar mr-1 ml-0"
                                    >
                                        <div class="avatar-content">{{ name | initials }}</div>
                                    </div>
                                </ng-template>
                                <div class="cell-line-height">
                                    <p class="font-medium-1 line-height-1 mb-0">{{ name }}</p>
                                    <span class="text-muted font-small-2"> {{ row.post }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="250" name="Email" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column [width]="50" name="Age" prop="age"></ngx-datatable-column>
                    <ngx-datatable-column [width]="120" name="Salary" prop="salary"></ngx-datatable-column>
                    <ngx-datatable-column [width]="120" name="Status" prop="status">
                        <ng-template let-status="value" ngx-datatable-cell-template>
                            <div
                                    [ngClass]="{
                  'badge-light-primary': status == '1',
                  'badge-light-success': status == '2',
                  'badge-light-danger': status == '3',
                  'badge-light-warning': status == '4',
                  'badge-light-info': status == '5'
                }"
                                    class="badge badge-pill"
                            >
                                {{
                                    status == 1
                                        ? 'Current'
                                        : status == 2
                                            ? 'Professional'
                                            : status == 3
                                                ? 'Rejected'
                                                : status == 4
                                                    ? 'Resigned'
                                                    : status == 5
                                                        ? 'Applied'
                                                        : 'Applied'
                                }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" [width]="120" name="Actions">
                        <ng-template ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div container="body" ngbDropdown>
                                    <a
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            class="hide-arrow"
                                            data-toggle="dropdown"
                                            href="javascript:void(0);"
                                            id="dropdownBrowserState"
                                            ngbDropdownToggle
                                    >
                                        <i class="text-primary cursor-pointer mr-50" data-feather="more-vertical"></i>
                                    </a>
                                    <div aria-labelledby="dropdownBrowserState" class="dropdown-menu-right"
                                         ngbDropdownMenu>
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="file-text"></i> Details</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="archive"></i> Archive</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="trash-2"></i> Delete</a
                                        >
                                    </div>
                                </div>

                                <i class="text-primary cursor-pointer" data-feather="edit"></i>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                <!-- ngx-datatable-row-details -->
            </core-card-snippet>
        </section>
        <!-- Row Details  Datatables -->

        <!-- Custom Checkbox Datatables -->
        <section id="ngx-datatable-custom-checkbox">
            <core-card-snippet [snippetCode]="_snippetCodeCustomCheckbox">
                <h4 class="card-title">Custom Checkbox</h4>

                <!-- ngx-datatable-custom-checkbox -->
                <div class="row">
                    <div class="col-12">
                        <ngx-datatable
                                (activate)="onActivate($event)"
                                (select)="customChkboxOnSelect($event)"
                                (select)="onSelect($event)"
                                [columnMode]="ColumnMode.force"
                                [footerHeight]="50"
                                [headerHeight]="40"
                                [limit]="10"
                                [rowHeight]="58"
                                [rows]="rows"
                                [scrollbarH]="true"
                                [selected]="chkBoxSelected"
                                [selectionType]="SelectionType.checkbox"
                                class="bootstrap core-bootstrap"
                        >
                            <ngx-datatable-column
                                    [canAutoResize]="false"
                                    [draggable]="false"
                                    [resizeable]="false"
                                    [sortable]="false"
                                    [width]="50"
                            >
                                <ng-template
                                        let-allRowsSelected="allRowsSelected"
                                        let-selectFn="selectFn"
                                        let-value="value"
                                        ngx-datatable-header-template
                                >
                                    <div class="custom-control custom-control-primary custom-checkbox">
                                        <input
                                                (change)="selectFn(!allRowsSelected)"
                                                [checked]="allRowsSelected"
                                                class="custom-control-input"
                                                id="headerCustomChkbxRef"
                                                type="checkbox"
                                        />
                                        <label class="custom-control-label" for="headerCustomChkbxRef"></label>
                                    </div>
                                </ng-template>
                                <ng-template
                                        let-isSelected="isSelected"
                                        let-onCheckboxChangeFn="onCheckboxChangeFn"
                                        let-rowIndex="rowIndex"
                                        let-value="value"
                                        ngx-datatable-cell-template
                                >
                                    <div class="custom-control custom-control-primary custom-checkbox">
                                        <input
                                                (change)="onCheckboxChangeFn($event)"
                                                [checked]="isSelected"
                                                class="custom-control-input"
                                                id="rowCustomChkbxRef{{ rowIndex }}"
                                                type="checkbox"
                                        />
                                        <label class="custom-control-label"
                                               for="rowCustomChkbxRef{{ rowIndex }}"></label>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [width]="280" name="Name" prop="full_name">
                                <ng-template let-name="value" let-row="row" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div *ngIf="row.avatar.length > 0; else customAvatar">
                                            <img
                                                    alt="datatable-avatar"
                                                    class="rounded-circle mr-1"
                                                    height="32"
                                                    src="assets/images/portrait/small/{{ row.avatar }}"
                                                    width="32"
                                            />
                                        </div>
                                        <ng-template #customAvatar>
                                            <div
                                                    [ngClass]="{
                          'bg-light-primary': row.status == '1',
                          'bg-light-success': row.status == '2',
                          'bg-light-danger': row.status == '3',
                          'bg-light-warning': row.status == '4',
                          'bg-light-info': row.status == '5'
                        }"
                                                    class="avatar mr-1 ml-0"
                                            >
                                                <div class="avatar-content">{{ name | initials }}</div>
                                            </div>
                                        </ng-template>
                                        <div class="cell-line-height">
                                            <p class="font-medium-1 line-height-1 mb-0">{{ name }}</p>
                                            <span class="text-muted font-small-2"> {{ row.post }}</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [width]="250" name="Email" prop="email"></ngx-datatable-column>
                            <ngx-datatable-column [width]="50" name="Age" prop="age"></ngx-datatable-column>
                            <ngx-datatable-column [width]="120" name="Salary" prop="salary"></ngx-datatable-column>
                            <ngx-datatable-column [width]="120" name="Status" prop="status">
                                <ng-template let-status="value" ngx-datatable-cell-template>
                                    <div
                                            [ngClass]="{
                      'badge-light-primary': status == '1',
                      'badge-light-success': status == '2',
                      'badge-light-danger': status == '3',
                      'badge-light-warning': status == '4',
                      'badge-light-info': status == '5'
                    }"
                                            class="badge badge-pill"
                                    >
                                        {{
                                            status == 1
                                                ? 'Current'
                                                : status == 2
                                                    ? 'Professional'
                                                    : status == 3
                                                        ? 'Rejected'
                                                        : status == 4
                                                            ? 'Resigned'
                                                            : status == 5
                                                                ? 'Applied'
                                                                : 'Applied'
                                        }}
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [sortable]="false" [width]="120" name="Actions">
                                <ng-template ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div container="body" ngbDropdown>
                                            <a
                                                    aria-expanded="false"
                                                    aria-haspopup="true"
                                                    class="hide-arrow"
                                                    data-toggle="dropdown"
                                                    href="javascript:void(0);"
                                                    id="dropdownBrowserState"
                                                    ngbDropdownToggle
                                            >
                                                <i class="text-primary cursor-pointer mr-50"
                                                   data-feather="more-vertical"></i>
                                            </a>
                                            <div aria-labelledby="dropdownBrowserState" class="dropdown-menu-right"
                                                 ngbDropdownMenu>
                                                <a class="d-flex align-items-center" href="javascript:void(0)"
                                                   ngbDropdownItem
                                                ><i class="mr-50" data-feather="file-text"></i> Details</a
                                                >
                                                <a class="d-flex align-items-center" href="javascript:void(0)"
                                                   ngbDropdownItem
                                                ><i class="mr-50" data-feather="archive"></i> Archive</a
                                                >
                                                <a class="d-flex align-items-center" href="javascript:void(0)"
                                                   ngbDropdownItem
                                                ><i class="mr-50" data-feather="trash-2"></i> Delete</a
                                                >
                                            </div>
                                        </div>

                                        <i class="text-primary cursor-pointer" data-feather="edit"></i>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <div class="selected-column col-12 mt-1">
                        <hr class="w-100"/>
                        <h5 class="mx-1">
                            Selections <small>({{ chkBoxSelected?.length }})</small>
                        </h5>
                        <ul>
                            <li *ngFor="let sel of chkBoxSelected">
                                {{ sel.full_name }}
                            </li>
                            <li *ngIf="!chkBoxSelected?.length">No Selections</li>
                        </ul>
                    </div>
                </div>
                <!--/ ngx-datatable-custom-checkbox -->
            </core-card-snippet>
        </section>
        <!--/ Custom Checkbox Datatables -->

        <!-- Responsive Datatable -->
        <section id="ngx-datatable-Responsive">
            <core-card-snippet [snippetCode]="_snippetCodeResponsive">
                <h4 class="card-title">Responsive</h4>

                <!-- ngx-datatables responsive -->
                <ngx-datatable
                    #table
                    [columnMode]="ColumnMode.force"
                    [footerHeight]="50"
                    [headerHeight]="40"
                    [limit]="10"
                    [rowHeight]="58"
                    [rows]="rows"
                    [scrollbarH]="true"
                    class="bootstrap core-bootstrap"
                    rowHeight="auto"
                >
                    <ngx-datatable-column [width]="280" name="Name" prop="full_name">
                        <ng-template let-name="value" let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div *ngIf="row.avatar.length > 0; else customAvatar">
                                    <img
                                            alt="datatable-avatar"
                                            class="rounded-circle mr-1"
                                            height="32"
                                            src="assets/images/portrait/small/{{ row.avatar }}"
                                            width="32"
                                    />
                                </div>
                                <ng-template #customAvatar>
                                    <div
                                            [ngClass]="{
                      'bg-light-primary': row.status == '1',
                      'bg-light-success': row.status == '2',
                      'bg-light-danger': row.status == '3',
                      'bg-light-warning': row.status == '4',
                      'bg-light-info': row.status == '5'
                    }"
                                            class="avatar mr-1 ml-0"
                                    >
                                        <div class="avatar-content">{{ name | initials }}</div>
                                    </div>
                                </ng-template>
                                <div class="cell-line-height">
                                    <p class="font-medium-1 line-height-1 mb-0">{{ name }}</p>
                                    <span class="text-muted font-small-2"> {{ row.post }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="250" name="Email" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column [width]="50" name="Age" prop="age"></ngx-datatable-column>
                    <ngx-datatable-column [width]="120" name="Status" prop="status">
                        <ng-template let-status="value" ngx-datatable-cell-template>
                            <div
                                    [ngClass]="{
                  'badge-light-primary': status == '1',
                  'badge-light-success': status == '2',
                  'badge-light-danger': status == '3',
                  'badge-light-warning': status == '4',
                  'badge-light-info': status == '5'
                }"
                                    class="badge badge-pill"
                            >
                                {{
                                    status == 1
                                        ? 'Current'
                                        : status == 2
                                            ? 'Professional'
                                            : status == 3
                                                ? 'Rejected'
                                                : status == 4
                                                    ? 'Resigned'
                                                    : status == 5
                                                        ? 'Applied'
                                                        : 'Applied'
                                }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" [width]="120" name="Action">
                        <ng-template ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div container="body" ngbDropdown>
                                    <a
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            class="hide-arrow"
                                            data-toggle="dropdown"
                                            href="javascript:void(0);"
                                            id="dropdownBrowserState"
                                            ngbDropdownToggle
                                    >
                                        <i class="text-primary cursor-pointer mr-50" data-feather="more-vertical"></i>
                                    </a>
                                    <div aria-labelledby="dropdownBrowserState" class="dropdown-menu-right"
                                         ngbDropdownMenu>
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="file-text"></i> Details</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="archive"></i> Archive</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="trash-2"></i> Delete</a
                                        >
                                    </div>
                                </div>

                                <i class="text-primary cursor-pointer" data-feather="edit"></i>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                <!--/ ngx-datatables responsive -->
            </core-card-snippet>
        </section>
        <!--/ Responsive Datatable -->

        <!-- Multilangual Datatables -->
        <section id="ngx-datatable-multi-purpose">
            <core-card-snippet [snippetCode]="_snippetCodeMultilangual">
                <h4 class="card-title">Multilangual</h4>
                <div class="card-body">
                    <p class="card-text">Select preffered language from navbar to change the table language.</p>
                </div>
                <ngx-datatable
                    #table
                    [columnMode]="ColumnMode.force"
                    [footerHeight]="50"
                    [headerHeight]="40"
                    [limit]="10"
                    [rowHeight]="58"
                    [rows]="rows"
                    [scrollbarH]="true"
                    class="bootstrap core-bootstrap"
                    rowHeight="auto"
                >
                    <ngx-datatable-column [width]="280" name="{{ 'HEADER.NAME' | translate }}" prop="full_name">
                        <ng-template let-name="value" let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div *ngIf="row.avatar.length > 0; else customAvatar">
                                    <img
                                            alt="datatable-avatar"
                                            class="rounded-circle mr-1"
                                            height="32"
                                            src="assets/images/portrait/small/{{ row.avatar }}"
                                            width="32"
                                    />
                                </div>
                                <ng-template #customAvatar>
                                    <div
                                            [ngClass]="{
                      'bg-light-primary': row.status == '1',
                      'bg-light-success': row.status == '2',
                      'bg-light-danger': row.status == '3',
                      'bg-light-warning': row.status == '4',
                      'bg-light-info': row.status == '5'
                    }"
                                            class="avatar mr-1 ml-0"
                                    >
                                        <div class="avatar-content">{{ name | initials }}</div>
                                    </div>
                                </ng-template>
                                <div class="cell-line-height">
                                    <p class="font-medium-1 line-height-1 mb-0">{{ name }}</p>
                                    <span class="text-muted font-small-2"> {{ row.post }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                            [width]="250"
                            name="{{ 'HEADER.EMAIL' | translate }}"
                            prop="email"
                    ></ngx-datatable-column>
                    <ngx-datatable-column [width]="50" name="{{ 'HEADER.AGE' | translate }}"
                                          prop="age"></ngx-datatable-column>
                    <ngx-datatable-column [width]="120" name="{{ 'HEADER.STATUS' | translate }}" prop="status">
                        <ng-template let-status="value" ngx-datatable-cell-template>
                            <div
                                    [ngClass]="{
                  'badge-light-primary': status == '1',
                  'badge-light-success': status == '2',
                  'badge-light-danger': status == '3',
                  'badge-light-warning': status == '4',
                  'badge-light-info': status == '5'
                }"
                                    class="badge badge-pill"
                            >
                                {{
                                    status == 1
                                        ? 'Current'
                                        : status == 2
                                            ? 'Professional'
                                            : status == 3
                                                ? 'Rejected'
                                                : status == 4
                                                    ? 'Resigned'
                                                    : status == 5
                                                        ? 'Applied'
                                                        : 'Applied'
                                }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" [width]="120" name="{{ 'HEADER.ACTIONS' | translate }}">
                        <ng-template ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div container="body" ngbDropdown>
                                    <a
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            class="hide-arrow"
                                            data-toggle="dropdown"
                                            href="javascript:void(0);"
                                            id="dropdownBrowserState"
                                            ngbDropdownToggle
                                    >
                                        <i class="text-primary cursor-pointer mr-50" data-feather="more-vertical"></i>
                                    </a>
                                    <div aria-labelledby="dropdownBrowserState" class="dropdown-menu-right"
                                         ngbDropdownMenu>
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="file-text"></i> Details</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="archive"></i> Archive</a
                                        >
                                        <a class="d-flex align-items-center" href="javascript:void(0)" ngbDropdownItem
                                        ><i class="mr-50" data-feather="trash-2"></i> Delete</a
                                        >
                                    </div>
                                </div>

                                <i class="text-primary cursor-pointer" data-feather="edit"></i>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </core-card-snippet>
        </section>
        <!--/ Multilangual Datatables -->
    </div>
</div>
