<div *ngIf="horizontalMenu" class="navbar-header d-xl-block d-none">
    <!-- Navbar brand -->
    <ul class="nav navbar-nav flex-row">
        <li class="nav-item">
            <a [routerLink]="['/']" class="navbar-brand">
        <span class="brand-logo">
          <img alt="brand-logo" src="{{ coreConfig.app.appLogoImage }}" width="36"/>
        </span>
                <h2 class="brand-text mb-0">{{ coreConfig.app.appName }}</h2>
            </a>
        </li>
    </ul>
    <!--/ Navbar brand -->
</div>

<div class="navbar-container d-flex content">
    <div class="bookmark-wrapper d-flex align-items-center">
        <!-- Menu Toggler | Menu icon will be hidden in case of layout without menu -->
        <ul *ngIf="!coreConfig.layout.menu.hidden" class="nav navbar-nav d-xl-none">
            <li class="nav-item">
                <a (click)="toggleSidebar('menu')" class="nav-link menu-toggle">
                    <span [class]="'ficon'" [data-feather]="'menu'"></span>
                </a>
            </li>
        </ul>
        <!--/ Menu Toggler -->

        <!-- Bookmark -->

        <!--/ Bookmark -->
    </div>
    <ul class="nav navbar-nav align-items-center ml-auto">
        <!-- Language selection -->
        <li class="nav-item dropdown dropdown-language" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="dropdown-flag" ngbDropdownToggle>
                <i class="flag-icon flag-icon-{{ languageOptions[_translateService.currentLang].flag }}"></i
                ><span class="selected-language">{{ languageOptions[_translateService.currentLang].title }}</span></a
            >
            <div aria-labelledby="dropdown-flag" ngbDropdownMenu>
                <a (click)="setLanguage(lang)" *ngFor="let lang of _translateService.getLangs()" ngbDropdownItem>
                    <i class="flag-icon flag-icon-{{ languageOptions[lang].flag }}"></i> {{ languageOptions[lang].title }}
                </a>
            </div>
        </li>
        <!--/ Language selection -->

        <!-- Toggle skin -->
        <li class="nav-item d-none d-lg-block">
            <a (click)="toggleDarkSkin()" class="nav-link nav-link-style btn">
                <span [ngClass]="currentSkin === 'dark' ? 'icon-sun' : 'icon-moon'"
                      class="ficon font-medium-5 feather"></span>
            </a>
        </li>
        <!--/ Toggle skin -->


        <!-- User Dropdown -->
        <li class="nav-item dropdown-user" ngbDropdown>
            <a
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="nav-link dropdown-toggle dropdown-user-link"
                    id="dropdown-user"
                    id="navbarUserDropdown"
                    ngbDropdownToggle
            >
                <ng-container *ngIf="this.currentUser">
                    <div class="user-nav d-sm-flex d-none">
            <!--<span class="user-name font-weight-bolder"
            >{{ this.currentUser.firstName }} {{ this.currentUser.lastName }}</span
            >--><span class="user-status">{{ this.currentUser.role }}</span>
                    </div>
                    <span class="avatar"
                    ><img
                            alt="avatar"
                            class="round"
                            height="40"
                            src="assets/images/portrait/small/avatar-s-1.jpg"
                            width="40"/><span class="avatar-status-online"></span
                    ></span>
                </ng-container>
            </a>
            <div aria-labelledby="navbarUserDropdown" class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <!--<a [routerLink]="['/pages/profile']" ngbDropdownItem
                ><span [class]="'mr-50'" [data-feather]="'user'"></span> Profile</a
                ><a [routerLink]="['/apps/email']" ngbDropdownItem
            ><span [class]="'mr-50'" [data-feather]="'mail'"></span> Inbox</a
            ><a [routerLink]="['/apps/todo']" ngbDropdownItem
            ><span [class]="'mr-50'" [data-feather]="'check-square'"></span> Task</a
            ><a [routerLink]="['/apps/chat']" ngbDropdownItem
            ><span [class]="'mr-50'" [data-feather]="'message-square'"></span> Chats</a
            >
                <div class="dropdown-divider"></div>
                <a [routerLink]="['/pages/account-settings']" ngbDropdownItem
                ><span [class]="'mr-50'" [data-feather]="'settings'"></span> Settings</a
                ><a [routerLink]="['/pages/pricing']" ngbDropdownItem
            ><span [class]="'mr-50'" [data-feather]="'credit-card'"></span> Pricing</a
            ><a [routerLink]="['/pages/faq']" ngbDropdownItem
            ><span [class]="'mr-50'" [data-feather]="'help-circle'"></span> FAQ</a
            >--><a routerLink="/apps/user/user-edit/{{ this.currentUser.id }}" ngbDropdownItem>
                <span [class]="'mr-50'" [data-feather]="'user'"></span> Edit Profile</a>
                <button (click)="openPasswordModal()" class="dropdown-item"><span [class]="'mr-50'" [data-feather]="'lock'"></span>Reset Password</button>
                <a (click)="logout()" ngbDropdownItem><span [class]="'mr-50'" [data-feather]="'power'"></span> Logout</a>
            </div>
        </li>
        <!--/ User Dropdown -->
    </ul>
</div>


<ng-template #content let-modal>
    <div class="content-body edit-model">
        <div class="row match-height">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card card-transaction">
                    <div class="modal-header">
                        <h4 class="modal-title ">Reset Password</h4>
                        <i (click)="close('edit-model')">
                            <span class="font-medium-3 cursor-pointer" data-feather="x"></span>
                        </i>
                    </div>
                    <br>
                    <div class="modal-body" ngbAutofocus tabindex="0">
                        <form action="#">
                            <div class="form-group">
                                <label for="oldPassword">Old Password: </label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'lock'"></span></span>
                                    </div>
                                    <input
                                            [(ngModel)]="oldPassword"
                                            class="form-control"
                                            id="oldPassword"
                                            name="oldPassword"
                                            placeholder="Old Password"
                                            type="password"
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="newPassword">New Password </label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'lock'"></span></span>
                                    </div>
                                    <input
                                            [(ngModel)]="newPassword"
                                            class="form-control"
                                            id="newPassword"
                                            name="newPassword"
                                            placeholder="New Password"
                                            type="password"
                                    />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button (click)="resetPassword()" class="btn btn-primary" rippleEffect type="button">
                            Reset Password
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</ng-template>
