<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- quill snow  -->
        <core-card-snippet [snippetCode]="_snippetCodeSnowEditor">
            <h4 class="card-title">Snow Editor</h4>
            <div class="card-body">
                <p class="card-text">
                    By default <strong>Snow Editor</strong> is custom editor. Here we have customized the toolbar with
                    <code>quill-editor-toolbar</code> directive.
                </p>
                <quill-editor [(ngModel)]="snowEditorRef" [modules]="{ syntax: true, toolbar: [['code-block']] }">
                    <div quill-editor-toolbar>
            <span class="ql-formats">
              <button [title]="'Bold'" class="ql-bold"></button>
              <button [title]="'italic'" class="ql-italic"></button>
              <button [title]="'underline'" class="ql-underline"></button>
            </span>
                        <span class="ql-formats">
              <select [title]="'Alignment'" class="ql-align">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
            </span>
                        <span class="ql-formats">
              <button class="ql-list" type="button" value="ordered"></button>
            </span>
                        <span class="ql-formats">
              <button class="ql-link" type="button" value="ordered"></button>
              <button class="ql-image" type="button" value="ordered"></button>
              <button class="ql-video" type="button" value="ordered"></button>
            </span>
                        <span class="ql-formats">
              <button class="ql-formula" type="button" value="ordered"></button>
              <button class="ql-code-block" type="button" value="ordered"></button>
            </span>
                        <span class="ql-formats">
              <button class="ql-clean" type="button" value="ordered"></button>
            </span>
                    </div>
                </quill-editor>
            </div>
        </core-card-snippet>
        <!--/ quill snow  -->

        <!-- quill Bubble  -->
        <core-card-snippet [snippetCode]="_snippetCodeBubbleEditor">
            <h4 class="card-title">Bubble Editor</h4>
            <div class="card-body">
                <p class="card-text">
                    To get <strong>Bubble Editor</strong> use <code>theme="bubble"</code>. Here we have customized the
                    bubble
                    toolbar with <code>quill-editor-toolbar</code> directive.
                </p>
                <quill-editor
                        [(ngModel)]="bubbleEditorRef"
                        [modules]="{ syntax: true, toolbar: [['code-block']] }"
                        theme="bubble"
                >
                    <div quill-editor-toolbar>
            <span class="ql-formats">
              <button [title]="'Bold'" class="ql-bold"></button>
              <button [title]="'italic'" class="ql-italic"></button>
              <button [title]="'underline'" class="ql-underline"></button>
            </span>
                        <span class="ql-formats">
              <select [title]="'Aligment'" class="ql-align">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
            </span>
                    </div>
                </quill-editor>
            </div>
        </core-card-snippet>
        <!--/ quill Bubble  -->

        <!-- quill Full  -->
        <core-card-snippet [snippetCode]="_snippetCodeFullEditor">
            <h4 class="card-title">Full Editor</h4>
            <div class="card-body">
                <quill-editor [(ngModel)]="fullEditorRef" [modules]="{ syntax: true, toolbar: [['code-block']] }"
                >
                    <div quill-editor-toolbar>
            <span class="ql-formats">
              <button [title]="'Bold'" class="ql-bold"></button>
              <button [title]="'italic'" class="ql-italic"></button>
              <button [title]="'underline'" class="ql-underline"></button>
            </span>
                        <span class="ql-formats">
              <select [title]="'Alignment'" class="ql-align">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
            </span>
                        <span class="ql-formats">
              <button class="ql-list" type="button" value="ordered"></button>
            </span>
                        <span class="ql-formats">
              <button class="ql-link" type="button" value="ordered"></button>
              <button class="ql-image" type="button" value="ordered"></button>
              <button class="ql-video" type="button" value="ordered"></button>
            </span>
                        <span class="ql-formats">
              <button class="ql-formula" type="button" value="ordered"></button>
              <button class="ql-code-block" type="button" value="ordered"></button>
            </span>
                        <span class="ql-formats">
              <button class="ql-clean" type="button" value="ordered"></button>
            </span>
                    </div>
                </quill-editor>
            </div>
        </core-card-snippet>
        <!--/ quill Full  -->
    </div>
</div>
