<div class="content-wrapper container-xxl p-2">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
        <div class="card-body">
            <form #newExternalAuthReq="ngForm" (ngSubmit)="(newExternalAuthReq.form.valid)" class="form form-vertical">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-control-label" for="email">Email</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
                                    </div>
                                    <!--                                        <input-->
                                    <!--                                                type="email"-->
                                    <!--                                                id="contact-info-icon"-->
                                    <!--                                                class="form-control width-77"-->
                                    <!--                                                name="contact-icon"-->
                                    <!--                                                placeholder="User Email"-->
                                    <!--                                                [(ngModel)]="userEmail"-->
                                    <!--                                        />-->

                                    <ng-select
                                        #emailInput="ngModel"
                                        (change)="onEmailChange($event)"
                                        [(ngModel)]="userEmail"
                                        [class.error]="emailInput.invalid && emailInput.touched"
                                        [items]="users"
                                        bindLabel="email"
                                        bindValue="email"
                                        class="width-77 "
                                        id="email"
                                        required
                                    >
                                        <ng-template let-index="index" let-item="item" let-search="searchTerm"
                                                     ng-option-tmp>
                                            <div *ngIf="item.name === 'Firefox'">{{ item.name }}</div>
                                            <div *ngIf="item.name !== 'Safari'" class="card" style="margin: 10px 0">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ item.firstName + ' ' + item.lastName }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{ item.role }}</h6>
                                                    <p class="card-text">
                                                        <i [data-feather]="'mail'"></i>
                                                        {{ item.email }}
                                                    </p>

                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                    <div *ngIf="emailInput.invalid && emailInput.touched" class="error">
                                        <span *ngIf="emailInput.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="first-name-icon">Requested Date</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'calendar'"></span></span>
                                    </div>
                                    <input
                                        #dateInput="ngModel"
                                        [(ngModel)]="date"
                                        [class.error]="dateInput.invalid && dateInput.touched"
                                        class="form-control "
                                        id="first-name-icon"
                                        name="fname-icon"
                                        placeholder="Select the date for your exit permission"
                                        required
                                        type="datetime-local"
                                    />
                                    <div *ngIf="dateInput.invalid && dateInput.touched" class="error">
                                        <span *ngIf="dateInput.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="col-12">
                            <div class="form-group">
                                <label for="email-id-icon">Leave Duration</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'clock'"></span></span>
                                    </div>

                                    <ng-select
                                        #durationInput="ngModel"
                                        (change)="onDurationChange($event)"
                                        [(ngModel)]="leaveDuration"
                                        [class.error]="newExternalAuthReq.submitted && durationInput.errors.required || durationInput.invalid && durationInput.touched"
                                        [items]="durations"
                                        bindLabel="name"
                                        class="width-77"
                                        id="email-id-icon"
                                        name="selectedRole"
                                        placeholder="Select Status"
                                        required
                                    ></ng-select>
                                    <div *ngIf="durationInput.invalid && durationInput.touched" class="error">
                                        <span *ngIf="durationInput.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="email-id-icon">Leave Reason</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span [data-feather]="'clock'"></span></span>
                                    </div>

                                    <input
                                        #reasonInput="ngModel"
                                        [(ngModel)]="reason"
                                        [class.error]="reasonInput.invalid && reasonInput.touched"
                                        class="form-control width-77"
                                        id="contact-info-icon"
                                        name="contact-icon"
                                        placeholder="Enter Reason here"
                                        required
                                        type="text"
                                    />
                                    <div *ngIf="reasonInput.invalid && reasonInput.touched" class="error">
                                        <span *ngIf="reasonInput.errors.required">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 d-flex flex-sm-row flex-column mt-2 ml-2">
                        <button (click)="addExternalAuthorization()"
                                class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1 waves-effect waves-float waves-light"
                                rippleEffect type="submit">
                            Submit
                        </button>
                        <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
