<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Horizontal Nav starts -->
        <section id="horizontal-base-nav">
            <div class="row match-height">
                <div class="col-md-6 col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBaseNav">
                        <h4 class="card-title">Base Nav</h4>

                        <div class="card-body">
                            <p class="card-text">
                                The base <code>.nav</code> component is built with flexbox and provide a strong
                                foundation for building
                                all types of navigation components.
                            </p>
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0)">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a aria-disabled="true" class="nav-link disabled" href="javascript:void(0)"
                                       tabindex="-1">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-md-6 col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeHorizontalNavWithBorder">
                        <h4 class="card-title">Horizontal Nav With Border</h4>

                        <div class="card-body">
                            <p class="card-text">
                                Use Class <code>.wrap-border</code> with your <code>&lt;nav&gt;</code> tag to wrap your
                                nav with a
                                border
                            </p>
                            <ul class="nav wrap-border">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0)">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a aria-disabled="true" class="nav-link disabled" href="javascript:void(0)"
                                       tabindex="-1">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-md-6 col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeCenterAlignment">
                        <h4 class="card-title">Center Alignment</h4>

                        <div class="card-body">
                            <p class="card-text">
                                Use Class <code>.justify-content-center</code> with your <code>&lt;nav&gt;</code> tag to
                                align your nav
                                to center
                            </p>
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0)">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a aria-disabled="true" class="nav-link disabled" href="javascript:void(0)"
                                       tabindex="-1">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-md-6 col-sm-12">
                    <core-card-snippet [snippetCode]="_snippetCodeEndAlignment">
                        <h4 class="card-title">End Alignment</h4>

                        <div class="card-body">
                            <p class="card-text">
                                Use Class <code>.justify-content-end</code> with your <code>&lt;nav&gt;</code> tag to
                                align your nav to
                                end
                            </p>
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0)">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a aria-disabled="true" class="nav-link disabled" href="javascript:void(0)"
                                       tabindex="-1">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Horizontal Nav Ends -->

        <!-- Basic Vertical Navs start -->
        <section id="basic-nav-components">
            <div class="row match-height">
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeVerticalNav">
                        <h4 class="card-title">Vertical nav</h4>

                        <div class="card-body">
                            <p class="card-text">
                                Roll your own navigation style by extending the base
                                <code>.nav</code> component. All Bootstrap’s nav components are built on top of this by
                                specifying
                                additional styles.
                            </p>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0)">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeNavWithBorder">
                        <h4 class="card-title">Nav with Border</h4>

                        <div class="card-body">
                            <p class="card-text">To wrap with border, use <code>.wrap-border</code> class.</p>
                            <ul class="nav flex-column wrap-border">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0)">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeNavWithSquareBorder">
                        <h4 class="card-title">Nav with Square Border</h4>

                        <div class="card-body">
                            <p class="card-text">
                                To wrap with square border, use
                                <code>.square-border</code> class with <code>.wrap-border</code> class.
                            </p>
                            <ul class="nav flex-column wrap-border square-border">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0)">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeNavWithDivider">
                        <h4 class="card-title">Nav with Divider</h4>

                        <div class="card-body">
                            <p class="card-text">
                                To add divider, use <code>.dropdown-divider</code> class to
                                <code>&lt;li&gt;</code>
                            </p>
                            <ul class="nav flex-column wrap-border">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0)">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)">Link</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Basic Vertical Navs end -->
    </div>
</div>
