<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Basic ListGroups start -->
        <section id="basic-list-group">
            <div class="row match-height">
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeSimpleListGroup">
                        <h4 class="card-title">Simple List Group</h4>
                        <div class="card-body">
                            <p class="card-text">
                                The most basic list group is simply an unordered list with list items, and the proper
                                classes. Build
                                upon it with the options that follow, or your own CSS as needed.
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeDisabledItems">
                        <h4 class="card-title">Disabled items</h4>
                        <div class="card-body">
                            <p class="card-text">
                                Add <code>.disabled</code> to a <code>.list-group-item</code> to gray it out to appear
                                disabled.
                            </p>
                            <div class="list-group">
                                <span class="list-group-item disabled"> Cras justo odio </span>
                                <span class="list-group-item">Dapibus ac facilisis in</span>
                                <span class="list-group-item">Morbi leo risus</span>
                                <span class="list-group-item">Porta ac consectetur ac</span>
                                <span class="list-group-item">Vestibulum at eros</span>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Basic ListGroups end -->

        <!-- With Icons and Badges start -->
        <section id="list-group-icons">
            <div class="row match-height">
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeIcons">
                        <h4 class="card-title">Icons</h4>
                        <div class="card-body">
                            <p class="card-text">Just add an icon before your content to create a list group with
                                icons</p>
                            <ul class="list-group">
                                <li class="list-group-item d-flex">
                                    <p class="float-left mb-0">
                                        <span [class]="'mr-1'" [data-feather]="'instagram'" [size]="16"></span>
                                    </p>
                                    <span>Cupcake sesame snaps dessert marzipan.</span>
                                </li>
                                <li class="list-group-item d-flex">
                                    <p class="float-left mb-0">
                                        <span [class]="'mr-1'" [data-feather]="'facebook'" [size]="16"></span>
                                    </p>
                                    <span>Jelly beans jelly-o gummi bears chupa chups marshmallow.</span>
                                </li>
                                <li class="list-group-item d-flex">
                                    <p class="float-left mb-0">
                                        <span [class]="'mr-1'" [data-feather]="'twitter'" [size]="16"></span>
                                    </p>
                                    <span>Bonbon macaroon gummies pie jelly</span>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeBadges">
                        <h4 class="card-title">Badges</h4>
                        <div class="card-body">
                            <p class="card-text">
                                Use Utility classes <code>.d-flex</code>
                                <code>.justify-content-between</code>
                                <code>align-items-center</code> to create space between badge and your content
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span> Biscuit jelly beans macaroon danish pudding.</span>
                                    <span class="badge badge-primary badge-pill">4</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span> chocolate cheesecake candy</span>
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span> Oat cake icing pastry pie carrot</span>
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- With Icons and Badges end -->

        <!-- Anchors and buttons start -->
        <section id="anchors-n-buttons">
            <div class="row match-height">
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeAnchors">
                        <h4 class="card-title">Anchors</h4>
                        <div class="card-body">
                            <p class="card-text">
                                Use anchors to create actionable list group items with hover, disabled, and active
                                states by adding
                                <code>.list-group-item-action</code>. This separate class contains a few overrides to
                                add compatibility
                                for <code>&lt;a&gt;</code> as well as the hover and focus states.
                            </p>
                            <div class="list-group">
                                <a class="list-group-item active" href="javascript:void(0)"> Cras justo odio </a>
                                <a class="list-group-item list-group-item-action" href="javascript:void(0)">Dapibus ac
                                    facilisis in</a>
                                <a class="list-group-item list-group-item-action" href="javascript:void(0)">Morbi leo
                                    risus</a>
                                <a class="list-group-item list-group-item-action" href="javascript:void(0)">Porta ac
                                    consectetur ac</a>
                                <a class="list-group-item list-group-item-action disabled" href="javascript:void(0)"
                                >Vestibulum at eros</a
                                >
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeButtons">
                        <h4 class="card-title">Buttons</h4>
                        <div class="card-body">
                            <p class="card-text">
                                You can use <code>.list-group-item-action</code> for <code>&lt;button&gt;</code> tag
                                also. This separate
                                class contains a few overrides to add compatibility for <code>&lt;button&gt;</code>s as
                                well as the
                                hover and focus states.
                                <strong>Be sure to not use the standard <code>.btn</code> classes here.</strong>
                            </p>
                            <div class="list-group">
                                <button class="list-group-item list-group-item-action active" type="button">Cras justo
                                    odio
                                </button>
                                <button class="list-group-item list-group-item-action" type="button">Dapibus ac
                                    facilisis in
                                </button>
                                <button class="list-group-item list-group-item-action" type="button">Morbi leo risus
                                </button>
                                <button class="list-group-item list-group-item-action" type="button">Porta ac
                                    consectetur ac
                                </button>
                                <button class="list-group-item list-group-item-action disabled" type="button">
                                    Vestibulum at eros
                                </button>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Anchors and buttons end -->

        <!-- Custom Listgroups start -->
        <section id="custom-listgroup">
            <div class="row match-height">
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeContextualclasses">
                        <h4 class="card-title">Contextual classes</h4>
                        <div class="card-body">
                            <p class="card-text">
                                Use contextual classes to style list items, default or linked. Also includes .active
                                state.
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-primary">A simple primary list group item
                                </li>
                                <li class="list-group-item list-group-item-secondary">A simple secondary list group
                                    item
                                </li>
                                <li class="list-group-item list-group-item-success">A simple success list group item
                                </li>
                                <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
                                <li class="list-group-item list-group-item-warning">A simple warning list group item
                                </li>
                                <li class="list-group-item list-group-item-info">A simple info list group item</li>
                                <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeCustomContent">
                        <h4 class="card-title">Custom content</h4>
                        <div class="card-body">
                            <p class="card-text">Add nearly any HTML within, even for linked list groups like the one
                                below.</p>
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action active" href="javascript:void(0)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 text-white">List group item heading</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">
                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                                        varius blandit.
                                    </p>
                                    <small>Donec id elit non mi porta.</small>
                                </a>
                                <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-secondary">3 days ago</small>
                                    </div>
                                    <p class="mb-1">
                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                                        varius blandit.
                                    </p>
                                    <small class="text-secondary">Donec id elit non mi porta.</small>
                                </a>
                                <a class="list-group-item list-group-item-action" href="javascript:void(0)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-secondary">3 days ago</small>
                                    </div>
                                    <p class="mb-1">
                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                                        varius blandit.
                                    </p>
                                    <small class="text-secondary">Donec id elit non mi porta.</small>
                                </a>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Custom Listgroups end -->

        <!-- Flush and Horizontal list group starts -->
        <section id="flush-and-horizontal-list-group">
            <div class="row match-height">
                <div class="col-lg-6 md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeFlush">
                        <h4 class="card-title">Flush</h4>
                        <div class="card-body">
                            <p class="card-text">
                                Add <code>.list-group-flush</code> with <code>.list-group</code> to remove some borders
                                and rounded
                                corners to render list group items edge-to-edge in a parent container (e.g., cards).
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Sweet gummi bears gingerbread carrot</li>
                                <li class="list-group-item">Cake macaroon brownie wafer soufflé</li>
                                <li class="list-group-item">Jelly beans lemon drops</li>
                                <li class="list-group-item">Lollipop ice cream donut chupa chups</li>
                                <li class="list-group-item">Chocolate candy canes tootsie roll</li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
                <div class="col-lg-6 col-md-12">
                    <core-card-snippet [snippetCode]="_snippetCodeHorizontal">
                        <h4 class="card-title">Horizontal</h4>
                        <div class="card-body">
                            <p class="card-text">
                                Add <code>.list-group-horizontal</code> to change the layout of list group items from
                                vertical to
                                horizontal across all breakpoints.choose a responsive variantcode
                                <code> .list-group-horizontal-&#123;sm|md|lg|xl&#125;</code> to make a list group
                                horizontal starting at
                                that breakpoint’s min-width.
                            </p>
                            <ngb-alert [dismissible]="false" [type]="'info'">
                                <div class="alert-body">
                                    <span [class]="'mr-1'" [data-feather]="'info'"></span> horizontal list groups cannot
                                    be combined with
                                    flush list groups.
                                </div>
                            </ngb-alert>
                            <ul class="list-group list-group-horizontal-sm">
                                <li class="list-group-item">Chocolate cake</li>
                                <li class="list-group-item">Cookie pie</li>
                                <li class="list-group-item">Cheesecake</li>
                                <li class="list-group-item">Cotton candy</li>
                            </ul>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!-- Flush and Horizontal list group Ends -->

        <!--List group with tabs Starts-->
        <section id="list-group-tabs">
            <div class="row">
                <div class="col-12">
                    <core-card-snippet [snippetCode]="_snippetCodeListGroupNavigation">
                        <h4 class="card-title">List Group Navigation</h4>
                        <div class="card-body">
                            <p class="card-text">
                                You can activate a list group navigation without writing any JavaScript by simply
                                specifying
                                <code>ngbNav</code> or on an element.
                            </p>

                            <div class="row nav-vertical d-flex">
                                <ul #navVertical="ngbNav" class="flex-column col-12 col-sm-4 mb-md-0 mb-1 pl-1 list-group"
                                    ngbNav>
                                    <li class="" ngbNavItem>
                                        <a aria-expanded="true" class="d-flex py-75 list-group-item list-group-item-action"
                                           ngbNavLink>
                                            Home
                                        </a>
                                        <ng-template ngbNavContent>
                                            <p>
                                                Croissant jelly-o halvah chocolate sesame snaps. Brownie caramels candy
                                                canes chocolate cake
                                                marshmallow icing lollipop I love. Gummies macaroon donut caramels
                                                biscuit topping danish.
                                            </p>
                                            <p>
                                                Tiramisu donut bonbon gummi bears. Brownie cake lollipop cheesecake
                                                gingerbread brownie. Tart
                                                sugar plum cake I love croissant I love apple pie.Gummies I love apple
                                                pie sugar plum lemon
                                                drops candy canes cake. Pastry I love jelly beans jelly beans brownie
                                                bear claw caramels. Pastry
                                                I love cake liquorice icing icing. I love carrot cake cupcake jelly-o
                                                wafer cookie jujubes cake.
                                            </p>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem>
                                        <a aria-expanded="false" class="d-flex py-75 list-group-item list-group-item-action"
                                           ngbNavLink>
                                            Profile
                                        </a>
                                        <ng-template ngbNavContent>
                                            <p>
                                                Jelly beans topping I love chocolate cake. Lemon drops jujubes jelly I
                                                love I love marshmallow
                                                gummies icing. Liquorice jelly-o lemon drops sugar plum.Bear claw chupa
                                                chups soufflé tart
                                                carrot cake dessert. I love tiramisu I love marzipan candy canes brownie
                                                marshmallow wafer. I
                                                love sugar plum cheesecake gummi bears I love pudding halvah gummi
                                                bears.
                                            </p>
                                            <p>
                                                I love donut dragée cupcake. Tootsie roll tart soufflé tart powder
                                                sesame snaps lollipop. Jelly
                                                beans tart macaroon I love biscuit. I love danish cheesecake sugar plum
                                                dragée croissant I love
                                                danish.
                                            </p>
                                        </ng-template>
                                    </li>

                                    <li ngbNavItem>
                                        <a aria-expanded="false" class="d-flex py-75 list-group-item list-group-item-action"
                                           ngbNavLink>
                                            Messages
                                        </a>
                                        <ng-template ngbNavContent>
                                            <p>
                                                Dragée dessert sweet roll chocolate bar. Gummi bears I love dragée pie I
                                                love. Cake pastry I
                                                love cookie.
                                            </p>
                                            <p>
                                                Wafer cheesecake cheesecake. Pastry bonbon chocolate pastry pudding
                                                topping sweet roll lollipop.
                                                I love macaroon gummi bears cookie topping chocolate bar carrot
                                                cake.Sweet roll pastry chocolate
                                                cake tiramisu dessert marzipan pudding cake. Cake macaroon danish jelly
                                                beans I love chocolate
                                                cookie sugar plum. Jelly beans chocolate cake sugar plum carrot cake.
                                            </p>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem>
                                        <a aria-expanded="false" class="d-flex py-75 list-group-item list-group-item-action"
                                           ngbNavLink>
                                            Settings
                                        </a>
                                        <ng-template ngbNavContent>
                                            <p>
                                                Muffin apple pie fruitcake. Chocolate cake chocolate cake oat cake I
                                                love soufflé brownie. I
                                                love marshmallow topping marshmallow I love.
                                            </p>
                                            <p>
                                                Caramels chocolate lollipop marshmallow croissant jelly beans jelly
                                                donut I love. Gummies toffee
                                                marshmallow ice cream biscuit. Candy sweet cupcake.Sugar plum cotton
                                                candy cupcake chocolate
                                                cake candy liquorice biscuit. Icing powder biscuit dragée gummies
                                                fruitcake I love. Sweet
                                                jelly-o fruitcake powder. Dessert gummi bears cake gingerbread tiramisu
                                                cake I love caramels
                                                dessert.
                                            </p>
                                        </ng-template>
                                    </li>
                                </ul>
                                <div [ngbNavOutlet]="navVertical" class="col-12 col-sm-8"></div>
                            </div>
                        </div>
                    </core-card-snippet>
                </div>
            </div>
        </section>
        <!--List group with tabs Ends-->
    </div>
</div>
